// CARD ANIMATIONS
@keyframes flipFront {
	0% {
		transform: rotateY(-180deg);
		box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.3); // Receding shadow for the front during flip
	}
	100% {
		transform: rotateY(0);
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); // Initial shadow
	}
}

@keyframes flipBack {
	0% {
		transform: rotateY(0);
		box-shadow: 5px -5px 20px rgba(0, 0, 0, 0.3); // Advancing shadow for the back during flip
	}
	100% {
		transform: rotateY(180deg);
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); // Initial shadow
	}
}

// animation: draw-fade-in  0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
@keyframes draw-fade-in {
	0% {
		opacity: 0;
		transform: scale(0.95);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

// animation: correctCard 0.5s ease-in-out forwards, fadeOut 0.5s 0.5s forwards;
// "Shake"
@keyframes wrongAnswer {
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		transform: translateX(0);
	}
	10% {
		transform: translateX(-5px);
	}
	30% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(-5px);
	}
	70% {
		transform: translateX(5px);
	}
	90% {
		transform: translateX(-5px);
	}
}

// "Bouncy"
// animation: livelyWrongAnswer 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
@keyframes livelyWrongAnswer {
	0% {
		transform: rotate(-5deg) scale(1);
	}
	10% {
		transform: rotate(5deg) scale(1.05);
	}
	20% {
		transform: rotate(-5deg) scale(1.1);
	}
	30% {
		transform: rotate(0deg) scale(1.07);
	}
	40% {
		transform: scale(1.04);
	}
	100% {
		transform: scale(1);
	}
}

// animation: correctAnswer 1s ease-in-out forwards;
@keyframes correctAnswer {
	0% {
		transform: rotate(-3deg) scale(1);
	}
	50% {
		transform: rotate(0deg) scale(1.03);
	}
	100% {
		transform: scale(1);
	}
}

// "Pulse"
// animation: pulseCard 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
@keyframes subtleCorrectAnswer {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

// animation: dropCard 0.7s cubic-bezier(0.35, 0.05, 0.36, 1) forwards;
@keyframes dropCard {
	0% {
		opacity: 1;
		transform: rotate(0) translateY(0);
	}
	100% {
		opacity: 0.5;
		transform: rotate(-15deg) translateY(10rem);
	}
}

@keyframes throwCardRight {
	0% {
		opacity: 1;
		transform: translate(0);
	}
	40% {
		opacity: 0.8;
		transform: translateY(10rem) translateX(5rem) rotate(10deg)
			skew(-10deg, -2deg); // Wind up
	}
	100% {
		opacity: 0;
		transform: translateY(-70rem) translateX(25rem) rotate(90deg)
			skew(-20deg, -5deg); // Throw away
	}
}

@keyframes discardCardRight {
	0% {
		opacity: 1;
		// transform: translate(0);
		transform: rotate(0) translateY(0);
	}
	30% {
		opacity: 0.8;
		transform: rotate(-15deg) translateY(10rem);
		// transform: translateY(-10rem) translateX(-5rem) rotate(10deg)
		// 	skew(10deg, 2deg); // Wind up
	}
	100% {
		opacity: 0;
		transform: translateY(-20rem) translateX(30rem) rotate(90deg)
			skew(20deg, 5deg); // Throw away to the right
	}
}

@keyframes discardCardLeft {
	0% {
		opacity: 1;
		transform: rotate(0) translateY(0);
	}
	30% {
		opacity: 0.8;
		transform: rotate(15deg) translateY(10rem); // Positive rotation for left wind up
	}
	100% {
		opacity: 0;
		transform: translateY(-20rem) translateX(-30rem) rotate(-90deg)
			// Negative values for leftward motion
			skew(20deg, 5deg); // Throw away to the left
	}
}

// @keyframes slideIn {
// 	from {
// 		transform: translateX(100%);
// 	}
// 	to {
// 		transform: translateX(0);
// 	}
// }

// @keyframes fadeIn {
// 	from {
// 		opacity: 0;
// 	}
// 	to {
// 		opacity: 1;
// 	}
// }

// @keyframes scaleUp {
// 	from {
// 		transform: scale(0.5);
// 	}
// 	to {
// 		transform: scale(1);
// 	}
// }

// Keyframes for exit animations
// @keyframes slideOut {
// 	from {
// 		transform: translateX(0);
// 	}
// 	to {
// 		transform: translateX(-100%);
// 	}
// }

// @keyframes fadeOut {
// 	from {
// 		opacity: 1;
// 	}
// 	to {
// 		opacity: 0;
// 	}
// }

// @keyframes scaleDown {
// 	from {
// 		transform: scale(1);
// 	}
// 	to {
// 		transform: scale(0.5);
// 	}
// }

//GENERIC ANIMATIONS

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}
	80% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		transform: translateX(1rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottomLeft {
	0% {
		opacity: 0.4;
		transform: translateY(70rem) translateX(-25rem) rotate(-90deg)
			skew(20deg, 5deg);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveOutBottomRight {
	0% {
		opacity: 0;
		transform: translate(0);
	}
	100% {
		opacity: 0.8;
		transform: translateY(20rem) translateX(-12rem) rotate(-90deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes orbit {
	from {
		transform: rotateY(0deg) translateX(120px);
	}
	to {
		transform: rotateY(360deg) translateX(120px);
	}
}

@keyframes squareWalk {
	0% {
		transform: translateX(0rem) translateY(0rem) rotate(0deg);
	}
	25% {
		transform: translateX(0.5rem) translateY(0rem) rotate(90deg);
	}
	50% {
		transform: translateX(0.5rem) translateY(0.5rem) rotate(90deg);
	}
	75% {
		transform: translateX(0rem) translateY(0.5rem) rotate(90deg);
	}
	100% {
		transform: translateX(0rem) translateY(0rem) rotate(90deg);
	}
}

@keyframes fadeColor {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes changeColorToGreen {
	0% {
		color: rgb(245, 243, 243);
	}
	10% {
		color: #59f372;
	}
	100% {
		color: #59f372;
	}
}

// @keyframes squareWalk {
// 	0% {
// 		transform: translateX(0rem) translateY(0rem) rotate(0deg);
// 	}
// 	25% {
// 		transform: translateX(5rem) translateY(0rem) rotate(45deg);
// 	}
// 	50% {
// 		transform: translateX(5rem) translateY(5rem) rotate(90deg);
// 	}
// 	75% {
// 		transform: translateX(0rem) translateY(5rem) rotate(135deg);
// 	}
// 	100% {
// 		transform: translateX(0rem) translateY(0rem) rotate(180deg);
// 	}
// }

// @keyframes spin {
// 	0% {
// 		transform: rotate(0);
// 	}
// 	100% {
// 		transform: rotate(360deg);
// 	}
// }

// rotate(-90deg)
@keyframes load_top {
	0% {
		transform: rotateY(0deg);
		z-index: 10;
	}
	33% {
		transform: rotateY(180deg);
		z-index: 9;
		margin-top: -5em;
	}
	66% {
		transform: rotateY(360deg);
		z-index: 10;
	}
	100% {
		transform: rotateY(360deg);
		z-index: 10;
	}
}

@keyframes load_bottom {
	0% {
		transform: rotateY(0deg);
		z-index: 9;
	}
	33% {
		transform: rotateY(180deg);
		z-index: 10;
		margin-top: -5em;
	}
	66% {
		transform: rotateY(360deg);
		z-index: 9;
	}
	100% {
		transform: rotateY(360deg);
		z-index: 9;
	}
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientShift {
	0% {
		background-position: 100% 0;
	}
	50% {
		background-position: 0 100%;
	}
	100% {
		background-position: 100% 0;
	}
}
// @keyframes gradientBG {
// 	0% {
// 		background-position: 0% 50%;
// 	}
// 	50% {
// 		background-position: 100% 50%;
// 	}
// 	100% {
// 		background-position: 0% 50%;
// 	}
// }
