*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit; // Inherits from body ( border-box )
}

body {
	box-sizing: border-box;
	// DARK THEME
	// background-color: #242424;
	// LIGHT THEME
	background-color: $color-white-1;
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
}

html {
	font-size: 62.5%; //Same as font-size:10px
	/* Is set to 62.5% using this formula : default font-size is 16px while We want 10px. 10/16 = 0.625 aka 62.5 % */
}

.app {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 10rem 1fr 10rem;
}

button,
link,
a {
	text-decoration: none;
}

// @media only screen and (max-height: 56.25em) {
// 	html {
// 		font-size: 7px;
// 	}
// }

// @media only screen and (max-height: 37.5em) {
// 	html {
// 		font-size: 3px;
// 	}
// }
