/////////////////////////////////////////////// FLASH CARD COMPONENT
.card {
	perspective: 100rem;
	-moz-perspective: 100rem;
	position: relative;

	&__content {
		transform-style: preserve-3d;
		animation: moveInBottomLeft 0.8s cubic-bezier(0.72, 0.26, 0, 1.04);
		// animation: moveInBottomLeft 0.7s linear;
		// animation: moveInBottomRight 0.8s cubic-bezier(0.72, 0.26, 0, 1.04);
	}
	// CARD SIDES
	&__side {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		height: 55rem;
		width: 35rem;
		border-radius: 1.5rem;

		overflow: hidden;
		box-shadow: 2px 3px 1rem 0.5rem rgba(0, 0, 0, 0.35);
		backface-visibility: hidden;

		transition: all 0.6s cubic-bezier(1, -0.3, 0.1, 1);

		// FRONT
		&--front {
		}
		// BACK
		&--back {
			transform: rotateY(180deg);
			position: fixed;
			top: 0;
			left: 0;
		}

		// COLOR VARIATIONS
		&.azure {
			background-image: $color-gradient-azure;
		}
		&.skyblue {
			background-image: $color-gradient-skyblue;
		}
		&.navy {
			background-image: $color-gradient-navy;
		}
		&.aquamarine {
			background-image: $color-gradient-aqumarine;
		}
		&.malachite {
			background-image: $color-gradient-malachite;
		}
		&.pink {
			background-image: $color-gradient-pink;
		}
		&.gray {
			background-image: $color-gradient-gray;
		}
		&.yellow {
			background-image: $color-gradient-yellow;
		}
		&.lime {
			background-image: $color-gradient-lime;
		}
		&.purple {
			background-image: $color-gradient-purple;
		}
		&.lilac {
			background-image: $color-gradient-lilac;
		}
		&.maroon {
			background-image: $color-gradient-maroon;
		}
	}

	// FLIP ANIMATION
	&.is-flipped .card__side--front {
		transform: rotateY(-180deg);
	}

	&.is-flipped .card__side--back {
		transform: rotateY(0);
	}
	// ANIMATION FOR FLIPPING ON HOVERING
	// &:hover &__side--front {
	// 	transform: rotateY(-180deg);
	// }
	// &:hover &__side--back {
	// 	transform: rotateY(0);
	// }

	// TEXT
	&__heading {
		font-size: 3.2rem;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
	}

	&__text {
		padding: 2rem;
		font-size: 2.4rem;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
	}
	// TOP
	&__top {
		border-bottom: 2px solid #000;
		padding: 0.5rem 0;
		padding-bottom: 1rem;
	}
	// CENTER
	&__center {
		padding: 1rem;
		padding-top: 3rem;
		margin-top: 1.5rem;
		align-self: center;
		background-color: rgba(#fff, 0.2);

		width: 80%;
		height: 75%;
		border-radius: 4.5rem 0.5rem 6.5rem 0.5rem;
	}
	// BOTTOM
	&__bottom {
		padding: 1rem;
		margin-top: 2rem;
		margin-bottom: 0.5rem;
		border-top: 2px solid #000;
	}

	&__btn-flip {
		background-color: rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: rgba(255, 255, 255, 0.25);
		}
	}
}

.flip-button {
	// background-color: transparent;
	// color: red;
	// margin-top: 5rem;
}

.button-next {
	&--wrong {
		background-color: rgb(179, 61, 71);
		// background-image: $color-gradient-maroon;
		margin-right: 6rem;
		// margin-bottom: 6rem;
	}
	&--correct {
		background-color: rgb(80, 185, 80);
		// background-image: $color-gradient-malachite;
	}
}

.card-collection {
	// background-color: $color-gray-light;
	color: rgb(242, 242, 242);
	display: flex;
	flex-direction: column;
	align-items: center;
	&__counter {
		color: white;
		margin: 1.5rem 0;
	}
}

.loading {
	perspective: 300rem;
	width: 5rem;
	height: 5rem;
	background-image: $color-gradient-malachite;

	// animation: spin 5s infinite linear;
	// animation: squareWalk 2.5s infinite linear;
	animation: squareWalk 2.5s infinite cubic-bezier(0.85, 0.04, 0.07, 1.16);
	box-shadow: 0px 0px 0.8rem 0.2rem rgba($color-malachite-dark, 0.5);
	//box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

	&__background {
		width: 10rem;
		height: 10rem;
		background-color: #241727;
		//box-shadow: 0px 0px 1.5rem 0.2rem rgba(#2e1d31, 7);
		box-shadow: 0 1px 6px 0.2rem rgba(95, 255, 42, 0.776),
			0 1px 4px rgba(15, 7, 12, 0.24),
			0px 0px 0.8rem 0.1rem rgba($color-malachite-dark, 0.5);
		animation: spin 5s infinite linear;
	}

	&__text {
		padding-top: 5rem;
		font-weight: 600;
		letter-spacing: 0.6rem;
		color: rgba($color-malachite-dark, 0.7);
	}
	// &__orbit {
	// 	width: 1rem;
	// 	height: 1rem;
	// 	background-color: rgb(132, 241, 105);
	// 	animation: orbit 2.2s infinite linear;
	// }
}

.app {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 0.8fr 8fr 1fr;
}

.header {
	background-image: $color-gradient-malachite;
	grid-column-start: 1;
	grid-column-end: -1;
}

.header-logo-text--main {
	font-size: 3.6rem;
	font-weight: 800;
	letter-spacing: 0.3rem;
}
.header-logo-text--sub {
	font-size: 2.4rem;
	font-family: 'Inter', sans-serif;
	letter-spacing: 1.2rem;
}

// NAVBAR FLEXBOX
.navbar {
	grid-column: 1/-1;
	grid-row: 2/2;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	// background-color: #110d10;
	background-color: rgb(241, 244, 242);
	color: rgb(55, 54, 54);
	border: 2px solid black;
	box-shadow: 0px 4px 1rem 2px rgba(0, 0, 0, 0.3);

	&__item {
		width: 17rem;
		border: 1px solid rgba(103, 100, 100, 0.768);
		border-bottom: 5px solid $color-malachite-dark;

		display: flex;
		align-items: center;
		justify-content: center;
		// color: rgb(229, 229, 229);
		cursor: pointer;

		&-link {
			color: #110d10;
		}

		&:hover {
			background-color: rgba(189, 237, 172, 0.823);
		}
		&--0 {
			justify-self: flex-start;
			margin-left: 8rem;
			margin-right: auto;
			border: 0;
			// color: #110d10;
			&:hover {
				background-color: unset;
			}
		}
		&--1 {
		}
	}
}

// BAD NAV GRID
// .navbar {
// 	grid-column: 1/-1;
// 	// grid-row: 2/2;

// 	display: grid;
// 	grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));

// 	// background-color: #110d10;
// 	background-color: rgb(241, 244, 242);
// 	color: rgb(55, 54, 54);
// 	border: 2px solid black;
// 	box-shadow: 0px 4px 1rem 2px rgba(0, 0, 0, 0.3);

// 	&__item {
// 		// width: 17rem;
// 		border: 1px solid rgba(103, 100, 100, 0.768);
// 		border-bottom: 5px solid $color-malachite-dark;

// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		// color: rgb(229, 229, 229);
// 		cursor: pointer;

// 		&-link {
// 			color: #110d10;
// 		}

// 		&:hover {
// 			background-color: rgba(189, 237, 172, 0.823);
// 		}
// 		&--0 {
// 			grid-column: 1/7;
// 			justify-self: flex-start;
// 			margin-left: 8rem;

// 			// margin-right: auto;
// 			border: 0;
// 			// color: #110d10;
// 			&:hover {
// 				background-color: unset;
// 			}
// 			@media (max-width: 117rem) {
// 				// width: 100vw;
// 				justify-self: center;
// 				grid-column: 1/-1;
// 			}
// 		}
// 		&--1 {
// 			// grid-column-start: 7;
// 		}
// 	}
// }

.footer {
	color: white;
	background-color: #110d10;
	border-top: 5px solid $color-malachite-light;
	grid-column: 1/-1;
	grid-row: 6/-1;
	// margin-top: 2rem;
}
.footer-list {
	// height: 6rem;
	display: flex;
	// background-color: red;
	justify-content: space-around;
	align-items: center;

	&__item {
	}
}

.cardset-page {
	grid-column: 1/-1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.home-page {
	grid-column: 1/-1;
	margin-top: 5rem;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	// grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	gap: 5rem;

	color: rgb(224, 224, 224);

	&__section {
		//border: 2px solid green;
		border: 1px solid rgb(241, 244, 242);
		box-shadow: 1rem 0px 2rem 2px rgba(0, 0, 0, 0.4);
	}

	&__main {
		background-color: rgb(241, 244, 242);
		color: rgb(55, 54, 54);

		// grid-column: span 2;
		box-shadow: 1rem 0px 2rem 2px rgba(0, 0, 0, 0.4);
	}
	&__aside {
		border: 1px solid rgb(241, 244, 242);
		// display: flex;
		// flex-direction: column;
		// justify-content: space-around;
		// align-items: center;
		box-shadow: -1rem 0px 2rem 2px rgba(0, 0, 0, 0.4);
		// grid-column: span 2;
		// width: 100vw;
	}

	@media (max-width: 80rem) {
		grid-template-columns: 1fr;
		&__main,
		&__aside,
		&__section {
			width: 100vw;
		}
	}

	// @media (max-width: 80rem) {
	// 	&__aside {
	// 		width: 100vw;
	// 	}
	// 	// &__main,
	// 	// &__aside,
	// 	// &__section {
	// 	// 	max-width: 100%;
	// 	// 	min-width: 100%;
	// 	// }
	// }
	// @media (max-width: 80rem) {
	// 	&__section,
	// 	&__aside {
	// 		width: 100vw;
	// 	}
	// }
}

.about-page {
	grid-column: 1/-1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-editor {
	color: white;
	padding: 0 5rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 10fr 1fr;
	gap: 1rem;
	border: 1px solid $color-malachite-dark;

	// CARD
	&-card {
		&--left {
			grid-row-start: 2;
			grid-column-start: 1/2;
			text-align: center;
			border-radius: 1.5rem;
			border: 1px solid rgb(241, 244, 242);
		}

		&--right {
			grid-row-start: 2;
			grid-column-start: 2/2;
			text-align: center;
			border-radius: 1.5rem;
			border: 1px solid rgb(241, 244, 242);
		}

		&__top {
			padding: 0.5rem 0;
			padding-bottom: 1rem;
		}
		&__heading {
			font-size: 3.2rem;
			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
		}
		&__center {
			padding: 3rem;
			padding-top: 3rem;
			// margin-top: 1.5rem;
			background-color: rgba(#fff, 0.2);
			border-radius: 4.5rem 0.5rem 6.5rem 0.5rem;
		}
		&__text-input {
			background-color: rgba(255, 255, 255, 0.3);
			height: 40rem;
			//width: 20rem;
			padding: 2rem;
			font-size: 2.4rem;
			border-radius: 4.5rem 0.5rem 6.5rem 0.5rem;
			text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
			cursor: default; // Change to custom because "text" cursor is so small
		}
		&__bottom {
			padding: 1rem;
			margin-top: 2rem;
			// margin-bottom: 0.5rem;
		}
	}

	&__buttons {
		// grid-column-start: 1;
		// grid-column-end: -1;
		grid-row-start: 3;
		grid-column: 1/4;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;

		color: white;
	}
	&__btn {
		color: white;
		box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.4);
		transition: all 0.15s linear;
		&:disabled {
			background-color: gray;
			border: 2px solid black;
			color: gainsboro;
			cursor: not-allowed;
		}

		&--save {
			border: 2px solid green;
			background-color: rgba(105, 235, 105, 0.2);

			&:hover {
				background-color: green;
				border: 2px solid transparent;
			}
			&:active {
				background-color: rgb(42, 177, 42);
			}
		}
		&--cancel {
			border: 2px solid red;
			background-color: rgba(255, 0, 0, 0.2);

			&:hover {
				background-color: red;
				border: 2px solid transparent;
			}
			&:active {
				background-color: rgb(249, 82, 82);
			}
		}
	}
}

.btn-login {
	background-color: transparent;
	width: 100%;
	height: 100%;
}

.user-collections {
	color: white;
}

.card-list {
	color: white;
	border: 2px solid rgb(141, 136, 136);
	overflow: scroll;
	height: 60vh;
	&__title {
		font-size: 3rem;
	}
	&__item {
		border: 1px solid white;
		list-style: none;
		padding: 0.5rem;
	}
}
