/////////////////////////////////////////////// FLASH CARD COMPONENT
.card {
	perspective: 100rem;
	-moz-perspective: 100rem;
	position: relative;

	&__content {
		transform-style: preserve-3d;
		animation: moveInBottomLeft 0.8s cubic-bezier(0.72, 0.26, 0, 1.04);
		// animation: moveInBottomLeft 0.7s linear;
		// animation: moveInBottomRight 0.8s cubic-bezier(0.72, 0.26, 0, 1.04);
	}
	// CARD SIDES
	&__side {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		height: 55rem;
		width: 35rem;
		border-radius: 1.5rem;

		overflow: hidden;
		box-shadow: 2px 3px 1rem 0.5rem rgba(0, 0, 0, 0.35);
		backface-visibility: hidden;

		transition: all 0.6s cubic-bezier(1, -0.3, 0.1, 1);

		// FRONT
		&--front {
		}
		// BACK
		&--back {
			transform: rotateY(180deg);
			position: fixed;
			top: 0;
			left: 0;
		}

		// COLOR VARIATIONS
		&.azure {
			background-image: $color-gradient-azure;
		}
		&.skyblue {
			background-image: $color-gradient-skyblue;
		}
		&.navy {
			background-image: $color-gradient-navy;
		}
		&.aquamarine {
			background-image: $color-gradient-aqumarine;
		}
		&.malachite {
			background-image: $color-gradient-malachite;
		}
		&.pink {
			background-image: $color-gradient-pink;
		}
		&.gray {
			background-image: $color-gradient-gray;
		}
		&.yellow {
			background-image: $color-gradient-yellow;
		}
		&.lime {
			background-image: $color-gradient-lime;
		}
		&.purple {
			background-image: $color-gradient-purple;
		}
		&.lilac {
			background-image: $color-gradient-lilac;
		}
		&.maroon {
			background-image: $color-gradient-maroon;
		}
	}

	// FLIP ANIMATION
	&.is-flipped .card__side--front {
		transform: rotateY(-180deg);
	}

	&.is-flipped .card__side--back {
		transform: rotateY(0);
	}
	// ANIMATION FOR FLIPPING ON HOVERING
	// &:hover &__side--front {
	// 	transform: rotateY(-180deg);
	// }
	// &:hover &__side--back {
	// 	transform: rotateY(0);
	// }

	// TEXT
	&__heading {
		font-size: 3.2rem;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
	}

	&__text {
		padding: 2rem;
		font-size: 2.4rem;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
	}
	// TOP
	&__top {
		border-bottom: 2px solid #000;
		padding: 0.5rem 0;
		padding-bottom: 1rem;
	}
	// CENTER
	&__center {
		padding: 1rem;
		padding-top: 3rem;
		margin-top: 1.5rem;
		align-self: center;
		background-color: rgba(#fff, 0.2);

		width: 80%;
		height: 75%;
		border-radius: 4.5rem 0.5rem 6.5rem 0.5rem;
	}
	// BOTTOM
	&__bottom {
		padding: 1rem;
		margin-top: 2rem;
		margin-bottom: 0.5rem;
		border-top: 2px solid #000;
	}

	&__btn-flip {
		background-color: rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: rgba(255, 255, 255, 0.25);
		}
	}
}

.flip-button {
	// background-color: transparent;
	// color: red;
	// margin-top: 5rem;
}

.button-next {
	&--wrong {
		background-color: rgb(179, 61, 71);
		// background-image: $color-gradient-maroon;
		margin-right: 6rem;
		margin-bottom: 6rem;
	}
	&--correct {
		background-color: rgb(80, 185, 80);
		// background-image: $color-gradient-malachite;
	}
}

.card-collection {
	// background-color: $color-gray-light;
	color: rgb(242, 242, 242);
	display: flex;
	flex-direction: column;
	align-items: center;
	&__counter {
		color: white;
		margin: 1.5rem 0;
	}
}

.loading {
	perspective: 300rem;
	width: 5rem;
	height: 5rem;
	background-image: $color-gradient-malachite;

	// animation: spin 5s infinite linear;
	// animation: squareWalk 2.5s infinite linear;
	animation: squareWalk 2.5s infinite cubic-bezier(0.85, 0.04, 0.07, 1.16);
	box-shadow: 0px 0px 0.8rem 0.2rem rgba($color-malachite-dark, 0.5);
	//box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

	&__background {
		width: 10rem;
		height: 10rem;
		background-color: #241727;
		//box-shadow: 0px 0px 1.5rem 0.2rem rgba(#2e1d31, 7);
		box-shadow: 0 1px 6px 0.2rem rgba(95, 255, 42, 0.776),
			0 1px 4px rgba(15, 7, 12, 0.24),
			0px 0px 0.8rem 0.1rem rgba($color-malachite-dark, 0.5);
		animation: spin 5s infinite linear;
	}

	&__text {
		padding-top: 5rem;
		font-weight: 600;
		letter-spacing: 0.6rem;
		color: rgba($color-malachite-dark, 0.7);
	}
	// &__orbit {
	// 	width: 1rem;
	// 	height: 1rem;
	// 	background-color: rgb(132, 241, 105);
	// 	animation: orbit 2.2s infinite linear;
	// }
}

.app {
	// background-color: rgb(55, 27, 27);
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.1fr 0.5fr 8fr 1fr;
}

.header {
	// background-color: yellow;
	background-image: $color-gradient-malachite;
	height: 2rem;
	grid-column-start: 1;
	grid-column-end: -1;
}

.navbar {
	grid-column-start: 1;
	grid-column-end: -1;
	height: 6rem;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: stretch;
	// background-color: rgb(47, 75, 64);
	background-color: #110d10;

	&__item {
		// background-color: rgba(83, 122, 67, 0.4);
		width: 17rem;
		border: 1px solid rgba(103, 100, 100, 0.768);
		border-bottom: 5px solid $color-malachite-dark;

		display: flex;
		align-items: center;
		justify-content: center;
		color: rgb(229, 229, 229);
		cursor: pointer;

		&:hover {
			background-color: rgba(82, 122, 67, 0.823);
		}
		&--1 {
		}
	}
}

.footer {
	// background-color: green;
	color: white;
	// background-color: #131212;
	background-color: #110d10;

	grid-column-start: 1;
	grid-column-end: -1;
}

.cardset-page {
	// background-color: #241727;
	grid-column-start: 1;
	grid-column-end: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-page {
	grid-column-start: 1;
	grid-column-end: -1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	color: rgb(224, 224, 224);
}

.about-page {
	grid-column-start: 1;
	grid-column-end: -1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-editor {
	color: white;
	background-color: rgba(0, 255, 234, 0.17);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.5fr 3fr 0.5fr;
	// display: flex;
	// flex-direction: column;

	&__text-input {
		margin-top: 4rem; // TODO: Remove this and change to grid/flex
		margin-left: 6rem; // TODO: Remove this
		height: 40rem;
		width: 20rem;
	}

	&--left {
		background-color: rgba(255, 0, 0, 0.229);
		grid-row-start: 2;

		// flex: 1;
	}

	&--right {
		background-color: rgba(0, 0, 255, 0.367);
		grid-row-start: 2;
		// flex: 1;
	}

	&__buttons {
		grid-column-start: 1;
		grid-column-end: -1;
		grid-row-start: -1;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;

		color: white;
	}
	&__btn {
		color: white;

		&--save {
			background-color: green;
		}
		&--cancel {
			background-color: red;
		}
	}
}
