.azure {
	background-image: $color-gradient-azure;
}
.skyblue {
	background-image: $color-gradient-skyblue;
}
.navy {
	background-image: $color-gradient-navy;
}
.aquamarine {
	background-image: $color-gradient-aqumarine;
}
.malachite {
	background-image: $color-gradient-malachite;
}
.pink {
	background-image: $color-gradient-pink;
}
.gray {
	background-image: $color-gradient-gray;
}
.yellow {
	background-image: $color-gradient-yellow;
}
.lime {
	background-image: $color-gradient-lime;
}
.purple {
	background-image: $color-gradient-purple;
}
.lilac {
	background-image: $color-gradient-lilac;
}
.maroon {
	background-image: $color-gradient-maroon;
}
