.azure {
	background-image: $color-gradient-azure;
}
.skyblue {
	background-image: $color-gradient-skyblue;
}
.navy {
	background-image: $color-gradient-navy;
}
.aquamarine {
	background-image: $color-gradient-aqumarine;
}
.malachite {
	background-image: $color-gradient-malachite;
}
.pink {
	background-image: $color-gradient-pink;
}
.gray {
	background-image: $color-gradient-gray;
}
.yellow {
	background-image: $color-gradient-yellow;
}
.lime {
	background-image: $color-gradient-lime;
}
.purple {
	background-image: $color-gradient-purple;
}
.lilac {
	background-image: $color-gradient-lilac;
}
.maroon {
	background-image: $color-gradient-maroon;
}

.text-with-stroke {
	// color: white; // Text color
	// font-size: 24px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 1),
		// Top-left shadow
		1px -1px 0 #000,
		// Top-right shadow
		-1px 1px 0 #000,
		// Bottom-left shadow
		1px 1px 0 #000; // Bottom-right shadow
}

.user-page {
	grid-column: 1/-1;
}
.message-displayer {
	background-color: gray;
	width: 100rem; // TODO: Remove, testing only
	height: 50rem; // TODO: Remove, testing only
	margin: 20rem auto; // TODO: Remove, testing only
	display: flex;
	flex-flow: column wrap;
	text-align: center;
	border: 5px double black;

	&__top {
		background-color: darken(gray, 10);
		height: 13%;
	}

	&__main-content {
		display: flex;
		// align-items: center;
		align-items: center;
		// margin: auto;
	}

	&__text-content {
		text-align: start;
		width: 50rem;

		margin-left: 5rem;
	}

	&__svg {
		background-color: rgb(142, 216, 205);
		width: 20rem;
		height: 20rem;
		// margin-right: auto;
		margin-left: 5rem;
	}

	&__bottom {
		background-color: lighten(gray, 10);
		margin-top: auto;
		display: flex;
		justify-content: end;
		height: 20%;
	}
}
