// Color Palette

$color-neutral-100: #f4f2f6;
$color-neutral-200: #d7d3db;
$color-neutral-300: #b8b1bf;
$color-neutral-400: #8a8293;
$color-neutral-500: #685e73;
$color-neutral-600: #514a59;
$color-neutral-700: #38323f;
$color-neutral-800: #26202d;
$color-neutral-900: #05010a;

////////////////////////////////
$box-shadow-subtle: 0px 0.4rem 1rem rgba(0, 0, 0, 0.1),
	0px -2px 0.5rem rgba(0, 0, 0, 0.05);

$color-white-1: #f6f2f2;
$color-dark-primary-1: #242424;

$color-gray-light-1: #d9d9d9;
$color-gray-dark-1: #404040;
$color-gray-dark-2: #6a6d70;

// COLOR VARIABLES FOR FLASHCARDS

$color-azure-light: #eafffe;
$color-azure-dark: #649392;
$color-gradient-azure: linear-gradient(
	to bottom,
	$color-azure-light,
	$color-azure-dark
);

$color-skyblue-light: #6ed8f5;
$color-skyblue-dark: #655bf1;
$color-gradient-skyblue: linear-gradient(
	to bottom,
	$color-skyblue-light,
	$color-skyblue-dark
);

$color-navy-light: #0e4b7f;
$color-navy-dark: #140b4a;
$color-gradient-navy: linear-gradient(
	to bottom,
	$color-navy-light,
	$color-navy-dark
);

$color-pink-light: #ff9f9f;
$color-pink-dark: #bc3364;
$color-gradient-pink: linear-gradient(
	to bottom,
	$color-pink-light,
	$color-pink-dark
);

$color-gray-light: #939293;
$color-gray-dark: #382b36;
$color-gradient-gray: linear-gradient(
	to bottom,
	$color-gray-light,
	$color-gray-dark
);

$color-aquamarine-light: #70faaa;
$color-aquamarine-dark: #51b599;
$color-gradient-aqumarine: linear-gradient(
	to bottom,
	$color-aquamarine-light,
	$color-aquamarine-dark
);

$color-malachite-light: #25f947;
$color-malachite-dark: #31ac44;
$color-gradient-malachite: linear-gradient(
	to bottom,
	$color-malachite-light,
	$color-malachite-dark
);

$color-green-primary-light: #a7f68c;
$color-green-primary-dark: #0f9d62;
$color-gradient-green-primary: linear-gradient(
	to bottom right,
	$color-green-primary-light,
	$color-green-primary-dark
);

$color-gradient-green-dark: linear-gradient(to bottom, #3ec555, #2a8c38);

$color-lime-light: #e6fa9e;
$color-lime-dark: #9fe674;
$color-gradient-lime: linear-gradient(
	to bottom,
	$color-lime-light,
	$color-lime-dark
);

$color-yellow-light: #f6ea6a;
$color-yellow-dark: #e1b533;
$color-gradient-yellow: linear-gradient(
	to bottom,
	$color-yellow-light,
	$color-yellow-dark
);

$color-purple-light: #8e14eb;
$color-purple-dark: #401586;
$color-gradient-purple: linear-gradient(
	to bottom,
	$color-purple-light,
	$color-purple-dark
);

$color-lilac-light: #b655ae;
$color-lilac-dark: #994dc5;
$color-gradient-lilac: linear-gradient(
	to bottom,
	$color-lilac-light,
	$color-lilac-dark
);

$color-maroon-light: #c8261d;
$color-maroon-dark: #751410;
$color-gradient-maroon: linear-gradient(
	to bottom,
	$color-maroon-light,
	$color-maroon-dark
);

$color-black-light: #181818;
$color-black-dark: #0d0d0d;
$color-gradient-black: linear-gradient(
	to bottom,
	$color-black-light,
	$color-black-dark
);

// BOX SHADOW

.box-shadow--minor {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1),
		// Horizontal shadow, vertical shadow, blur radius, and color
		0px -2px 5px rgba(0, 0, 0, 0.05); // Shadow for the top part
}
