*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #242424;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem; }

html {
  font-size: 62.5%;
  /* Is set to 62.5% using this formula : default font-size is 16px while We want 10px. 10/16 = 0.625 aka 62.5 % */ }

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.8fr 8fr 0.8fr; }

button,
link,
a {
  text-decoration: none; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottomLeft {
  0% {
    opacity: 0.8;
    transform: translateY(70rem) translateX(-25rem) rotate(-90deg) skew(20deg, 5deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveOutBottomRight {
  0% {
    opacity: 0;
    transform: translate(0); }
  100% {
    opacity: 0.8;
    transform: translateY(20rem) translateX(-12rem) rotate(-90deg); } }

@keyframes spin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes orbit {
  from {
    transform: rotateY(0deg) translateX(120px); }
  to {
    transform: rotateY(360deg) translateX(120px); } }

@keyframes squareWalk {
  0% {
    transform: translateX(0rem) translateY(0rem) rotate(0deg); }
  25% {
    transform: translateX(0.5rem) translateY(0rem) rotate(90deg); }
  50% {
    transform: translateX(0.5rem) translateY(0.5rem) rotate(90deg); }
  75% {
    transform: translateX(0rem) translateY(0.5rem) rotate(90deg); }
  100% {
    transform: translateX(0rem) translateY(0rem) rotate(90deg); } }

@keyframes fadeColor {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes changeColorToGreen {
  0% {
    color: #f5f3f3; }
  10% {
    color: #59f372; }
  100% {
    color: #59f372; } }

.btn-login {
  background-color: transparent;
  width: 100%;
  height: 100%; }

.card-editor {
  color: white;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 10fr 1fr;
  gap: 1rem;
  border: 1px solid #31ac44; }
  .card-editor-card--left {
    grid-row-start: 2;
    grid-column-start: 1/2;
    text-align: center;
    border-radius: 1.5rem;
    border: 1px solid #f1f4f2; }
  .card-editor-card--right {
    grid-row-start: 2;
    grid-column-start: 2/2;
    text-align: center;
    border-radius: 1.5rem;
    border: 1px solid #f1f4f2; }
  .card-editor-card__top {
    padding: 0.5rem 0;
    padding-bottom: 1rem; }
  .card-editor-card__heading {
    font-size: 3.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); }
  .card-editor-card__center {
    padding: 3rem;
    padding-top: 3rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4.5rem 0.5rem 6.5rem 0.5rem; }
  .card-editor-card__text-input {
    background-color: rgba(255, 255, 255, 0.3);
    height: 40rem;
    padding: 2rem;
    font-size: 2.4rem;
    border-radius: 4.5rem 0.5rem 6.5rem 0.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    cursor: default;
    resize: none; }
  .card-editor-card__bottom {
    padding: 1rem;
    margin-top: 2rem; }
  .card-editor__buttons {
    grid-row-start: 3;
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white; }
  .card-editor__btn {
    color: white;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.15s linear; }
    .card-editor__btn:disabled {
      background-color: gray;
      border: 2px solid black;
      color: gainsboro;
      cursor: not-allowed; }
    .card-editor__btn--save {
      border: 2px solid green;
      background-color: rgba(105, 235, 105, 0.2); }
      .card-editor__btn--save:hover {
        background-color: green;
        border: 2px solid transparent; }
      .card-editor__btn--save:active {
        background-color: #2ab12a; }
    .card-editor__btn--cancel {
      border: 2px solid red;
      background-color: rgba(255, 0, 0, 0.2); }
      .card-editor__btn--cancel:hover {
        background-color: red;
        border: 2px solid transparent; }
      .card-editor__btn--cancel:active {
        background-color: #f95252; }

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative; }
  .card__content {
    transform-style: preserve-3d;
    animation: moveInBottomLeft 0.8s cubic-bezier(0.72, 0.26, 0, 1.04); }
  .card__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55rem;
    width: 35rem;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 2px 3px 1rem 0.5rem rgba(0, 0, 0, 0.35);
    backface-visibility: hidden;
    transition: all 0.6s cubic-bezier(1, -0.3, 0.1, 1); }
    .card__side--back {
      transform: rotateY(180deg);
      position: fixed;
      top: 0;
      left: 0; }
    .card__side.azure {
      background-image: linear-gradient(to bottom, #eafffe, #649392); }
    .card__side.skyblue {
      background-image: linear-gradient(to bottom, #6ed8f5, #655bf1); }
    .card__side.navy {
      background-image: linear-gradient(to bottom, #0e4b7f, #140b4a); }
    .card__side.aquamarine {
      background-image: linear-gradient(to bottom, #70faaa, #51b599); }
    .card__side.malachite {
      background-image: linear-gradient(to bottom, #25f947, #31ac44); }
    .card__side.pink {
      background-image: linear-gradient(to bottom, #ff9f9f, #bc3364); }
    .card__side.gray {
      background-image: linear-gradient(to bottom, #939293, #382b36); }
    .card__side.yellow {
      background-image: linear-gradient(to bottom, #f6ea6a, #e1b533); }
    .card__side.lime {
      background-image: linear-gradient(to bottom, #e6fa9e, #9fe674); }
    .card__side.purple {
      background-image: linear-gradient(to bottom, #8e14eb, #401586); }
    .card__side.lilac {
      background-image: linear-gradient(to bottom, #b655ae, #994dc5); }
    .card__side.maroon {
      background-image: linear-gradient(to bottom, #c8261d, #751410); }
  .card.is-flipped .card__side--front {
    transform: rotateY(-180deg); }
  .card.is-flipped .card__side--back {
    transform: rotateY(0); }
  .card__heading {
    font-size: 3.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); }
  .card__text {
    padding: 2rem;
    font-size: 2.4rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65); }
  .card__top {
    border-bottom: 2px solid #000;
    padding: 0.5rem 0;
    padding-bottom: 1rem; }
  .card__center {
    padding: 1rem;
    padding-top: 3rem;
    margin-top: 1.5rem;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    height: 75%;
    border-radius: 4.5rem 0.5rem 6.5rem 0.5rem; }
  .card__bottom {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    border-top: 2px solid #000; }
  .card__btn-flip {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2); }
    .card__btn-flip:hover {
      background-color: rgba(255, 255, 255, 0.25); }

.button-next--wrong {
  background-color: #b33d47;
  margin-right: 6rem; }

.button-next--correct {
  background-color: #50b950; }

.card-collection {
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .card-collection__counter {
    color: white;
    margin: 1.5rem 0; }

.card-list {
  color: white;
  border: 2px solid #8d8888;
  overflow: scroll;
  height: 60vh; }
  .card-list__title {
    font-size: 3rem; }
  .card-list__item {
    border: 1px solid white;
    list-style: none;
    padding: 0.5rem; }
    .card-list__item--highlight {
      color: blue; }

.collection-preview {
  background-color: #c7c4c4;
  border: 2px solid black;
  height: 30rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 3%;
  transition: all 0.3s ease-out; }
  .collection-preview:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.05); }

.footer {
  color: white;
  background-image: linear-gradient(to top, #110d10, #2a2729);
  border-top: 3px solid #0e0b0d;
  grid-column: 1/-1;
  grid-row: 4/-1;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.footer-list {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.header {
  background-image: linear-gradient(to bottom, #3ec555, #2a8c38);
  grid-column-start: 1;
  grid-column-end: -1; }

.header-logo-text--main {
  font-size: 3.6rem;
  font-weight: 800;
  letter-spacing: 0.3rem; }

.header-logo-text--sub {
  font-size: 2.4rem;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1.2rem; }

.loading {
  perspective: 300rem;
  width: 5rem;
  height: 5rem;
  background-image: linear-gradient(to bottom, #25f947, #31ac44);
  animation: squareWalk 2.5s infinite cubic-bezier(0.85, 0.04, 0.07, 1.16);
  box-shadow: 0px 0px 0.8rem 0.2rem rgba(49, 172, 68, 0.5); }
  .loading__background {
    width: 10rem;
    height: 10rem;
    background-color: #241727;
    box-shadow: 0 1px 6px 0.2rem rgba(95, 255, 42, 0.776), 0 1px 4px rgba(15, 7, 12, 0.24), 0px 0px 0.8rem 0.1rem rgba(49, 172, 68, 0.5);
    animation: spin 5s infinite linear; }
  .loading__text {
    padding-top: 5rem;
    font-weight: 600;
    letter-spacing: 0.6rem;
    color: rgba(49, 172, 68, 0.7); }

.navbar {
  grid-column: 1/-1;
  grid-row: 2/2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #f1f4f2;
  color: #373636;
  border: 2px solid black;
  box-shadow: 0px 4px 1rem 2px rgba(0, 0, 0, 0.3); }
  .navbar__item {
    width: 17rem;
    border: 1px solid rgba(103, 100, 100, 0.768);
    border-bottom: 5px solid #31ac44;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .navbar__item-link {
      color: #110d10; }
    .navbar__item:hover {
      background-color: rgba(189, 237, 172, 0.823); }
    .navbar__item--0 {
      justify-self: flex-start;
      margin-left: 8rem;
      margin-right: auto;
      border: 0; }
      .navbar__item--0:hover {
        background-color: unset; }

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #d9d9d9;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 40%;
    margin-right: -3.5rem;
    transition: all 0.2s; }
    @media only screen and (max-width: 56.25em) {
      .search__input {
        width: 70%;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .search__input {
        width: 70%; } }
    .search__input:focus {
      outline: none;
      width: 50%;
      background-color: #d9d9d9; }
    .search__input::placeholder {
      font-weight: 100;
      color: #404040; }
  .search__input:focus + .search__button {
    background-color: #d9d9d9; }
  .search__button {
    border: none;
    background-color: #d9d9d9; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #404040; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  justify-items: center;
  overflow: scroll; }

.about-page {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.cardset-page {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.home-page {
  grid-column: 1/-1;
  grid-row: 3/5;
  margin-top: 0rem;
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  grid-template-rows: repeat(5, 1fr);
  color: #e0e0e0; }
  .home-page__main {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f4f2;
    background-image: url(../../img/hero-picture-1.jpg);
    background-size: cover;
    background-position: center;
    color: #373636;
    box-shadow: 1rem 0px 2rem 2px rgba(0, 0, 0, 0.4); }
  .home-page__title {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    align-items: center;
    color: #f5f3f3; }
    .home-page__title--head {
      font-size: 16rem;
      letter-spacing: 0.7rem;
      font-weight: 1000;
      animation: moveInLeft 1s ease-out; }
    .home-page__title--sub {
      font-size: 3.6rem;
      letter-spacing: 1.8rem;
      text-transform: uppercase;
      font-weight: 500;
      animation: moveInRight 1s ease-out; }
      .home-page__title--sub__span {
        color: #25f947;
        font-weight: 700;
        animation: changeColorToGreen 0.5s ease-out 1s;
        animation-fill-mode: backwards; }
  .home-page .btn-cta {
    margin-top: 13rem;
    color: #31ac44;
    border: 4px solid #31ac44;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 4.4rem;
    font-weight: 1000;
    letter-spacing: 1.6rem;
    border-radius: 2.5rem;
    padding: 1rem 4rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out; }
    .home-page .btn-cta, .home-page .btn-cta:link, .home-page .btn-cta:visited {
      text-decoration: none; }
    .home-page .btn-cta:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .home-page .btn-cta:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .home-page .btn-cta:focus, .home-page .btn-cta:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .home-page .btn-cta--animated {
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards; }

