*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 1.6rem; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* Is set to 62.5% using this formula : default font-size is 16px while We want 10px. 10/16 = 0.625 aka 62.5 % */ }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottomLeft {
  0% {
    opacity: 0.8;
    transform: translateY(20rem) translateX(-12rem) rotate(-90deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveOutBottomRight {
  0% {
    opacity: 0;
    transform: translate(0); }
  100% {
    opacity: 0.8;
    transform: translateY(20rem) translateX(-12rem) rotate(-90deg); } }

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative; }
  .card__content {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    animation: moveInBottomLeft 0.7s cubic-bezier(0.72, 0.26, 0, 1.04); }
  .card__side {
    font-size: 2.4rem;
    height: 55rem;
    width: 35rem;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 2px 3px 1rem 0.5rem rgba(0, 0, 0, 0.35);
    backface-visibility: hidden;
    padding: 2rem 3rem;
    transition: all 0.6s cubic-bezier(1, -0.3, 0.1, 1); }
    .card__side--back {
      transform: rotateY(180deg);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%; }
    .card__side.azure {
      background-image: linear-gradient(to bottom, #eafffe, #649392); }
    .card__side.skyblue {
      background-image: linear-gradient(to bottom, #6ed8f5, #655bf1); }
    .card__side.navy {
      background-image: linear-gradient(to bottom, #0e4b7f, #140b4a); }
    .card__side.aquamarine {
      background-image: linear-gradient(to bottom, #70faaa, #51b599); }
    .card__side.malachite {
      background-image: linear-gradient(to bottom, #25f947, #31ac44); }
    .card__side.pink {
      background-image: linear-gradient(to bottom, #ff9f9f, #bc3364); }
    .card__side.gray {
      background-image: linear-gradient(to bottom, #939293, #382b36); }
    .card__side.yellow {
      background-image: linear-gradient(to bottom, #f6ea6a, #e1b533); }
    .card__side.lime {
      background-image: linear-gradient(to bottom, #e6fa9e, #9fe674); }
    .card__side.purple {
      background-image: linear-gradient(to bottom, #8e14eb, #401586); }
    .card__side.lilac {
      background-image: linear-gradient(to bottom, #b655ae, #994dc5); }
    .card__side.maroon {
      background-image: linear-gradient(to bottom, #c8261d, #751410); }
  .card.is-flipped .card__side--front {
    transform: rotateY(-180deg); }
  .card.is-flipped .card__side--back {
    transform: rotateY(0); }
  .card__heading {
    font-size: 3.2rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); }
  .card__text {
    font-size: 2.4rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65); }
  .card__top {
    border-bottom: 2px solid #000;
    margin-bottom: 1.5rem; }
  .card__center {
    padding: 2rem;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    height: 70%;
    border-radius: 3rem 0.5rem 4.5rem 0.5rem; }
  .card__bottom {
    border-top: 2px solid #000;
    margin-top: 1.5rem; }

.flip-button {
  margin-top: 5rem; }

.button-next--wrong {
  background-image: linear-gradient(to bottom, #c8261d, #751410); }

.button-next--correct {
  background-image: linear-gradient(to bottom, #25f947, #31ac44); }

.card-collection {
  background-color: #939293; }
