.box-shadow--minor {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px -2px 5px rgba(0, 0, 0, 0.05); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #f6f2f2;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem; }

html {
  font-size: 62.5%;
  /* Is set to 62.5% using this formula : default font-size is 16px while We want 10px. 10/16 = 0.625 aka 62.5 % */ }

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10rem 1fr 10rem; }

button,
link,
a {
  text-decoration: none; }

@keyframes flipFront {
  0% {
    transform: rotateY(-180deg);
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.3); }
  100% {
    transform: rotateY(0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); } }

@keyframes flipBack {
  0% {
    transform: rotateY(0);
    box-shadow: 5px -5px 20px rgba(0, 0, 0, 0.3); }
  100% {
    transform: rotateY(180deg);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); } }

@keyframes draw-fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes wrongAnswer {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(0); }
  10% {
    transform: translateX(-5px); }
  30% {
    transform: translateX(5px); }
  50% {
    transform: translateX(-5px); }
  70% {
    transform: translateX(5px); }
  90% {
    transform: translateX(-5px); } }

@keyframes livelyWrongAnswer {
  0% {
    transform: rotate(-5deg) scale(1); }
  10% {
    transform: rotate(5deg) scale(1.05); }
  20% {
    transform: rotate(-5deg) scale(1.1); }
  30% {
    transform: rotate(0deg) scale(1.07); }
  40% {
    transform: scale(1.04); }
  100% {
    transform: scale(1); } }

@keyframes correctAnswer {
  0% {
    transform: rotate(-3deg) scale(1); }
  50% {
    transform: rotate(0deg) scale(1.03); }
  100% {
    transform: scale(1); } }

@keyframes subtleCorrectAnswer {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@keyframes dropCard {
  0% {
    opacity: 1;
    transform: rotate(0) translateY(0); }
  100% {
    opacity: 0.5;
    transform: rotate(-15deg) translateY(10rem); } }

@keyframes throwCardRight {
  0% {
    opacity: 1;
    transform: translate(0); }
  40% {
    opacity: 0.8;
    transform: translateY(10rem) translateX(5rem) rotate(10deg) skew(-10deg, -2deg); }
  100% {
    opacity: 0;
    transform: translateY(-70rem) translateX(25rem) rotate(90deg) skew(-20deg, -5deg); } }

@keyframes discardCardRight {
  0% {
    opacity: 1;
    transform: rotate(0) translateY(0); }
  30% {
    opacity: 0.8;
    transform: rotate(-15deg) translateY(10rem); }
  100% {
    opacity: 0;
    transform: translateY(-20rem) translateX(30rem) rotate(90deg) skew(20deg, 5deg); } }

@keyframes discardCardLeft {
  0% {
    opacity: 1;
    transform: rotate(0) translateY(0); }
  30% {
    opacity: 0.8;
    transform: rotate(15deg) translateY(10rem); }
  100% {
    opacity: 0;
    transform: translateY(-20rem) translateX(-30rem) rotate(-90deg) skew(20deg, 5deg); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottomLeft {
  0% {
    opacity: 0.4;
    transform: translateY(70rem) translateX(-25rem) rotate(-90deg) skew(20deg, 5deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveOutBottomRight {
  0% {
    opacity: 0;
    transform: translate(0); }
  100% {
    opacity: 0.8;
    transform: translateY(20rem) translateX(-12rem) rotate(-90deg); } }

@keyframes spin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes orbit {
  from {
    transform: rotateY(0deg) translateX(120px); }
  to {
    transform: rotateY(360deg) translateX(120px); } }

@keyframes squareWalk {
  0% {
    transform: translateX(0rem) translateY(0rem) rotate(0deg); }
  25% {
    transform: translateX(0.5rem) translateY(0rem) rotate(90deg); }
  50% {
    transform: translateX(0.5rem) translateY(0.5rem) rotate(90deg); }
  75% {
    transform: translateX(0rem) translateY(0.5rem) rotate(90deg); }
  100% {
    transform: translateX(0rem) translateY(0rem) rotate(90deg); } }

@keyframes fadeColor {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes changeColorToGreen {
  0% {
    color: #f5f3f3; }
  10% {
    color: #59f372; }
  100% {
    color: #59f372; } }

.btn-login {
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 1.8rem;
  border: transparent; }

.card-editor {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .card-editor-card--left {
    text-align: center;
    border-radius: 1.5rem;
    flex-basis: 45%;
    height: 65rem; }
  .card-editor-card--right {
    text-align: center;
    border-radius: 1.5rem;
    flex-basis: 45%; }
  .card-editor-card__heading {
    font-size: 3.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); }
  .card-editor-card__center {
    padding: 3rem 0;
    border-radius: 4.5rem 0.5rem 6.5rem 0.5rem; }
  .card-editor-card__text-input {
    background-color: rgba(255, 255, 255, 0.3);
    height: 50rem;
    width: 85%;
    padding: 2rem;
    font-size: 2.4rem;
    border-radius: 4.5rem 0.5rem 6.5rem 0.5rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.65);
    cursor: default;
    resize: none; }
  .card-editor__buttons {
    flex-basis: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white; }
  .card-editor__btn {
    color: white;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.15s linear;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-top: 2rem; }
    .card-editor__btn:disabled {
      background-color: gray;
      border: 2px solid black;
      color: gainsboro;
      cursor: not-allowed; }
    .card-editor__btn--save {
      border: 2px solid green;
      background-color: rgba(105, 235, 105, 0.2); }
      .card-editor__btn--save:hover {
        background-color: green;
        border: 2px solid transparent; }
      .card-editor__btn--save:active {
        background-color: #2ab12a; }
    .card-editor__btn--cancel {
      border: 2px solid red;
      background-color: rgba(255, 0, 0, 0.2); }
      .card-editor__btn--cancel:hover {
        background-color: red;
        border: 2px solid transparent; }
      .card-editor__btn--cancel:active {
        background-color: #f95252; }

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative; }
  .card.animate-render-draw {
    animation: moveInBottomLeft 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55); }
  .card.animate-render-fade-in {
    animation: draw-fade-in 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; }
  .card.animate-correct {
    animation: subtleCorrectAnswer 0.5s forwards, discardCardRight 0.8s 0.5s forwards; }
  .card.animate-wrong {
    animation: wrongAnswer 0.5s forwards, discardCardLeft 0.8s 0.5s forwards; }
  .card__content {
    transform-style: preserve-3d; }
  .card__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    height: 55rem;
    width: 35rem;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
    transition: transform 0.6s cubic-bezier(1, -0.3, 0.1, 1), box-shadow 0.3s ease-in-out; }
    .card__side:hover {
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.22); }
    .card__side--back {
      transform: rotateY(180deg);
      position: fixed;
      top: 0;
      left: 0; }
    .card__side.azure {
      background-image: linear-gradient(to bottom, #eafffe, #649392); }
    .card__side.skyblue {
      background-image: linear-gradient(to bottom, #6ed8f5, #655bf1); }
    .card__side.navy {
      background-image: linear-gradient(to bottom, #0e4b7f, #140b4a); }
    .card__side.aquamarine {
      background-image: linear-gradient(to bottom, #70faaa, #51b599); }
    .card__side.malachite {
      background-image: linear-gradient(to bottom, #25f947, #31ac44); }
    .card__side.pink {
      background-image: linear-gradient(to bottom, #ff9f9f, #bc3364); }
    .card__side.gray {
      background-image: linear-gradient(to bottom, #939293, #382b36); }
    .card__side.yellow {
      background-image: linear-gradient(to bottom, #f6ea6a, #e1b533); }
    .card__side.lime {
      background-image: linear-gradient(to bottom, #e6fa9e, #9fe674); }
    .card__side.purple {
      background-image: linear-gradient(to bottom, #8e14eb, #401586); }
    .card__side.lilac {
      background-image: linear-gradient(to bottom, #b655ae, #994dc5); }
    .card__side.maroon {
      background-image: linear-gradient(to bottom, #c8261d, #751410); }
  .card.is-flipped .card__side--front {
    transform: rotateY(-180deg); }
  .card.is-flipped .card__side--back {
    transform: rotateY(0); }
  .card__heading {
    font-size: 3.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); }
  .card__text {
    padding: 2rem;
    font-size: 2.4rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65); }
  .card__top {
    border-bottom: 2px solid #000;
    padding: 0.5rem 0;
    padding-bottom: 1rem; }
  .card__center {
    padding: 1rem;
    padding-top: 3rem;
    margin-top: 1.5rem;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    height: 75%;
    border-radius: 4.5rem 0.5rem 6.5rem 0.5rem; }
  .card__bottom {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    border-top: 2px solid #000; }
  .card__btn-flip {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    cursor: pointer; }
    .card__btn-flip:hover {
      background-color: rgba(255, 255, 255, 0.25); }

.button-next {
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  cursor: pointer;
  width: 12rem;
  height: 4rem;
  text-transform: uppercase;
  color: white;
  transition: all 0.3s ease-out;
  font-weight: 800; }
  .button-next--wrong {
    background-color: #d85353;
    border: 2px solid #b33d47;
    margin-right: 6rem; }
    .button-next--wrong:hover {
      background-color: #df3737; }
  .button-next--correct {
    background-color: #6cd26c;
    border: 2px solid #50b950; }
    .button-next--correct:hover {
      background-color: #50ed50; }

.card-collection {
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .card-collection__counter {
    color: white;
    font-size: 2.4rem;
    margin-bottom: 1.5rem; }
  .card-collection__heading {
    border-bottom: 8px solid #25f947;
    width: 100%;
    margin-top: -12rem;
    margin-bottom: 2rem; }
  .card-collection__heading--title {
    text-align: center;
    text-transform: uppercase;
    font-size: 5.2rem; }
  .card-collection__buttons {
    margin-top: 2rem; }

.card-list {
  color: white;
  border: 7px solid #25f947;
  overflow: scroll;
  height: 85%;
  flex-basis: 30%; }
  .card-list__title {
    font-size: 3rem;
    text-align: center; }
  .card-list__item {
    border: 1px solid white;
    list-style: none;
    padding: 0.5rem;
    color: black;
    background-color: #96979c; }

.highlight {
  background-color: #e8fafa;
  border: 3px solid #d5fcfb;
  font-weight: 500; }

.card-list__item--correct {
  background-color: #a1f4a1; }

.card-list__item--wrong {
  background-color: #f48b8b; }

.collection-preview {
  height: 20rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr; }
  .collection-preview__card-box {
    background-color: #f4f2f6;
    border: 1px solid #d7d3db;
    grid-row: 2/4;
    grid-column: 1/4;
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 3rem;
    text-align: center;
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.2); }
  .collection-preview__card-box-count {
    font-size: 7rem;
    grid-column: 1;
    grid-row: 1/3; }
  .collection-preview__card-box-text {
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    grid-column: 1;
    grid-row: 2/3; }
  .collection-preview:hover {
    transform: scale(1.05); }
  .collection-preview__content {
    grid-row: 1/5;
    grid-column: 2/-1;
    box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.1);
    border: 1px solid #b8b1bf; }
  .collection-preview__title {
    grid-row: 2;
    grid-column: 5/10;
    font-size: 2.2rem;
    font-weight: 1000;
    color: #f4f2f6;
    border-bottom: 1px solid #f4f2f6;
    display: flex;
    align-items: top; }
  .collection-preview__description {
    grid-row: 3;
    grid-column: 5/10;
    color: #d7d3db; }
  .collection-preview__avatar {
    grid-row: 4;
    grid-column: 5/10;
    font-size: 2.2rem;
    font-weight: 1000;
    color: #f4f2f6;
    display: flex;
    align-items: top; }

.footer {
  color: #f4f2f6;
  background-image: linear-gradient(to top, #110d10, #2a2729);
  grid-column: 1/-1;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.footer-list {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.loading {
  perspective: 300rem;
  width: 5rem;
  height: 5rem;
  background-image: linear-gradient(to bottom, #25f947, #31ac44);
  animation: squareWalk 2.5s infinite cubic-bezier(0.85, 0.04, 0.07, 1.16);
  box-shadow: 0px 0px 0.8rem 0.2rem rgba(49, 172, 68, 0.5); }
  .loading__background {
    width: 10rem;
    height: 10rem;
    background-color: #241727;
    box-shadow: 0 1px 6px 0.2rem rgba(95, 255, 42, 0.776), 0 1px 4px rgba(15, 7, 12, 0.24), 0px 0px 0.8rem 0.1rem rgba(49, 172, 68, 0.5);
    animation: spin 5s infinite linear; }
  .loading__text {
    padding-top: 5rem;
    font-weight: 600;
    letter-spacing: 0.6rem;
    color: rgba(49, 172, 68, 0.7); }

.navbar {
  grid-column: 1/-1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
  box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.1), 0px -2px 0.5rem rgba(0, 0, 0, 0.05); }
  .navbar__item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out; }
    .navbar__item-link {
      color: #685e73;
      font-size: 1.8rem;
      font-weight: 400; }
    .navbar__item:hover {
      background-color: #685e73; }
      .navbar__item:hover .navbar__item-link {
        color: #f4f2f6; }
    .navbar__item--0 {
      grid-column: 1; }
    .navbar__item--1 {
      grid-column: 2; }
    .navbar__item--2 {
      grid-column: 3; }
    .navbar__item--3 {
      grid-column: 4; }
    .navbar__item--4 {
      grid-column: 5; }
    .navbar__item--5 {
      grid-column: 6; }

.header-logo-text--main {
  font-family: 'Inter', sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  color: #05010a; }

.header-logo-text--sub {
  font-size: 4.4rem;
  font-family: 'Inter', sans-serif;
  color: #05010a; }

.search {
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #d9d9d9;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 40%;
    transition: all 0.2s; }
    @media only screen and (max-width: 56.25em) {
      .search__input {
        width: 70%;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .search__input {
        width: 70%; } }
    .search__input:focus {
      outline: none;
      width: 50%;
      background-color: #d9d9d9; }
    .search__input::placeholder {
      font-weight: 100;
      color: #404040; }
  .search__input:focus + .search__button {
    background-color: #d9d9d9; }
  .search__button {
    border: none;
    background-color: #d9d9d9; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #404040; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  justify-items: center;
  overflow: scroll;
  padding: 3rem 2rem;
  gap: 4rem 2rem; }
  .grid-container__item {
    cursor: pointer; }

.collection-selector {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: end;
  color: white;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  border: 1px solid #31ac44;
  grid-column-start: 1;
  grid-column-end: 2; }
  .collection-selector__title {
    text-transform: uppercase;
    text-align: center;
    flex: 0 51%;
    letter-spacing: 0.4rem;
    font-size: 5rem;
    align-self: center; }
  .collection-selector .collection-selector__selector {
    background-color: #ebebeb;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.4);
    border: 2px solid green;
    padding: 1rem 3rem;
    border-radius: 2px;
    color: black;
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: capitalize; }
  .collection-selector .collection-selector__option {
    cursor: pointer; }
  .collection-selector .collection-selector__buttons {
    display: flex;
    justify-content: center; }
  .collection-selector .collection-selector__btn {
    border: 2px solid green;
    background-color: rgba(105, 235, 105, 0.2);
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.4); }

.toggler__switch {
  position: relative;
  display: inline-block;
  width: 6em;
  height: 3em; }

.toggler__switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.toggler__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0c151e;
  transition: .5s;
  -webkit-transition: .5s;
  border-radius: 6em; }
  .toggler__slider:before {
    position: absolute;
    content: "";
    height: 2.6em;
    width: 2.6em;
    left: 0.25em;
    bottom: 0.20em;
    background-color: green;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    border-radius: 50%; }

.toggler__switch input:checked + .toggler__slider {
  background-color: aquamarine; }
  .toggler__switch input:checked + .toggler__slider:before {
    -webkit-transform: translateX(2.8em);
    transform: translateX(2.8em);
    -ms-transform: translateX(2.8em); }

.toggler__switch input:focus + .toggler__slider {
  box-shadow: 0 0 2px green; }

.avatar__wrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 10em;
  height: 10em;
  border: solid black 2px; }
  .avatar__wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.modal__backdrop {
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 999; }

.modal__content {
  width: 40em;
  padding: 4em;
  margin: 3em auto;
  border-radius: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, repeat(3, 1fr);
  gap: 1em; }

.modal__header {
  grid-row-start: 1;
  grid-column: 1/4;
  text-align: center; }

.modal__avatar__wrapper:hover {
  cursor: pointer; }

.modal__avatar__wrapper__locked {
  opacity: 0.3; }

.modal__avatar__wrapper__locked:hover {
  cursor: not-allowed; }

.leitnerbox__wrapper {
  border: solid black 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 15em; }

.leitnerbox__top {
  grid-column: 1/3;
  text-align: center;
  text-justify: center;
  padding: 1em; }

.leitnerbox__1 {
  grid-column: 1/3;
  grid-row: 2;
  text-align: center;
  text-justify: center;
  padding: 1em; }

.leitnerbox__1:hover {
  background-color: gold;
  cursor: pointer; }

.leitnerbox__2 {
  grid-column: 1/3;
  grid-row: 3;
  text-align: center;
  text-justify: center;
  padding: 1em; }

.leitnerbox__2:hover {
  background-color: gold;
  cursor: pointer; }

.leitnerbox__3 {
  grid-column: 1/3;
  grid-row: 4;
  text-align: center;
  text-justify: center;
  padding: 1em; }

.leitnerbox__3:hover {
  background-color: gold;
  cursor: pointer; }

.leitnerbox__isDisabled {
  background-color: gray;
  pointer-events: none !important;
  opacity: 0.5; }

.about-page {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 0.2fr, 1fr, 1fr; }
  .about-page__top {
    text-align: center; }
  .about-page__blobs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; }
  .about-page__blob__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .about-page__image__wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 10em;
    height: 10em;
    border: solid black 2px; }
    .about-page__image__wrapper img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .about-page h2 {
    margin-top: 0.5em; }
  .about-page__about {
    text-align: center; }
    .about-page__about h3 {
      margin-top: 0.5em; }

.cardset-page {
  grid-column: 1/-1;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 5rem;
  margin-top: 3rem;
  border: 3px solid #242424;
  background-color: #e1dddd; }
  .cardset-page .card-collection {
    flex-basis: 70%;
    height: 100%; }
    .cardset-page .card-collection__heading {
      color: #242424; }
    .cardset-page .card-collection__counter {
      color: #242424;
      font-weight: 600; }
  .cardset-page .card-list {
    flex-basis: 30%;
    background-image: linear-gradient(to bottom, #9f9c9c, #272626); }

.create-edit-page {
  grid-column: 1/-1;
  grid-row: 2;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #d5d1d1;
  border: 3px solid #0d0d0d;
  margin: 0 5rem;
  margin-top: 3rem; }
  .create-edit-page .collection-selector__wrapper {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: start; }
  .create-edit-page .collection-selector__title {
    order: 2; }
  .create-edit-page__collection-selector {
    height: 8rem;
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 1rem;
    background-image: linear-gradient(to bottom right, #a7f68c, #0f9d62); }
  .create-edit-page__wrapper {
    flex-basis: 100%;
    display: flex; }
  .create-edit-page__card-grid {
    flex-basis: 50%; }
    .create-edit-page__card-grid .grid-container {
      color: white;
      padding: 1rem 5rem;
      display: grid;
      gap: 1rem 0;
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr)); }
      .create-edit-page__card-grid .grid-container__item {
        transition: opacity 0.5s, transform 0.5s;
        z-index: 1; }
        .create-edit-page__card-grid .grid-container__item:hover {
          z-index: 2;
          opacity: 1;
          transform: scale(1.1) translateY(-0.4rem); }
  .create-edit-page__card-grid {
    margin-right: auto; }
    .create-edit-page__card-grid .card__content {
      font-size: calc(1rem * 0.5); }
    .create-edit-page__card-grid .card__side {
      height: 31rem;
      width: 20rem;
      border-radius: calc(1.5rem * 0.5);
      box-shadow: calc(2px * 0.5) calc(3px * 0.5) calc(1rem * 0.5) calc(0.5rem * 0.5) rgba(0, 0, 0, 0.35); }
    .create-edit-page__card-grid .card__heading {
      font-size: calc(3.2rem * 0.5); }
    .create-edit-page__card-grid .card__text {
      padding: calc(2rem * 0.5);
      font-size: calc(2.4rem * 0.5); }
    .create-edit-page__card-grid .card__top {
      padding-bottom: calc(1rem * 0.5); }
    .create-edit-page__card-grid .card__center {
      padding: calc(1rem * 0.5);
      padding-top: calc(3rem * 0.5);
      margin-top: calc(1.5rem * 0.5);
      border-radius: calc(4.5rem * 0.5) calc(0.5rem * 0.5) calc(6.5rem * 0.5) calc(0.5rem * 0.5); }
    .create-edit-page__card-grid .card__bottom {
      margin-top: calc(2rem * 0.5);
      margin-bottom: calc(0.5rem * 0.5); }
    .create-edit-page__card-grid .card__btn-flip {
      padding: calc(1rem * 0.5) calc(2rem * 0.5);
      border-radius: calc(1.5rem * 0.5); }
  .create-edit-page__card-editor {
    margin-right: auto;
    border-bottom: unset;
    border-radius: 2.5rem 2.5rem 0 0; }
  .create-edit-page .card-editor-card {
    background-image: linear-gradient(to bottom, #181818, #0d0d0d);
    border: 1px solid black;
    box-shadow: 0.4rem 0.4rem 1rem 0.5rem rgba(0, 0, 0, 0.5);
    padding: 0 3rem; }
    .create-edit-page .card-editor-card__center {
      background-color: #202020; }
    .create-edit-page .card-editor-card__text-input {
      background-color: #f6f2f2; }

.home-page {
  grid-column: 1/-1;
  grid-row: 2;
  margin-top: 0rem;
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  grid-template-rows: repeat(5, 1fr);
  background-color: #242424;
  color: #e0e0e0; }
  .home-page__main {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f4f2;
    background-image: url(../../img/hero-picture-1.jpg);
    background-size: cover;
    background-position: center;
    color: #373636;
    box-shadow: 1rem 0px 2rem 2px rgba(0, 0, 0, 0.4); }
  .home-page__title {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    align-items: center;
    color: #f5f3f3; }
    .home-page__title--head {
      font-size: 16rem;
      letter-spacing: 0.7rem;
      font-weight: 1000;
      animation: moveInLeft 1s ease-out; }
    .home-page__title--sub {
      font-size: 3.6rem;
      letter-spacing: 1.8rem;
      text-transform: uppercase;
      font-weight: 500;
      animation: moveInRight 1s ease-out; }
      .home-page__title--sub__span {
        color: #25f947;
        font-weight: 700;
        animation: changeColorToGreen 0.5s ease-out 1s;
        animation-fill-mode: backwards; }
  .home-page .btn-cta {
    margin-top: 13rem;
    color: #31ac44;
    border: 4px solid #31ac44;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 4.4rem;
    font-weight: 1000;
    letter-spacing: 1.6rem;
    border-radius: 2.5rem;
    padding: 1rem 4rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out; }
    .home-page .btn-cta, .home-page .btn-cta:link, .home-page .btn-cta:visited {
      text-decoration: none; }
    .home-page .btn-cta:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .home-page .btn-cta:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .home-page .btn-cta:focus, .home-page .btn-cta:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .home-page .btn-cta--animated {
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards; }

.user-collections-page {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .user-collections-page #spanish__blob {
    width: 35rem;
    height: 35rem; }

.discover-page {
  grid-column: 1/-1;
  grid-row: 2;
  overflow: scroll; }
  .discover-page__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.1), 0px -2px 0.5rem rgba(0, 0, 0, 0.05); }
  .discover-page__bottom {
    margin-inline: 5rem; }
  .discover-page .grid-container .collection-preview {
    border: unset; }

.azure {
  background-image: linear-gradient(to bottom, #eafffe, #649392); }

.skyblue {
  background-image: linear-gradient(to bottom, #6ed8f5, #655bf1); }

.navy {
  background-image: linear-gradient(to bottom, #0e4b7f, #140b4a); }

.aquamarine {
  background-image: linear-gradient(to bottom, #70faaa, #51b599); }

.malachite {
  background-image: linear-gradient(to bottom, #25f947, #31ac44); }

.pink {
  background-image: linear-gradient(to bottom, #ff9f9f, #bc3364); }

.gray {
  background-image: linear-gradient(to bottom, #939293, #382b36); }

.yellow {
  background-image: linear-gradient(to bottom, #f6ea6a, #e1b533); }

.lime {
  background-image: linear-gradient(to bottom, #e6fa9e, #9fe674); }

.purple {
  background-image: linear-gradient(to bottom, #8e14eb, #401586); }

.lilac {
  background-image: linear-gradient(to bottom, #b655ae, #994dc5); }

.maroon {
  background-image: linear-gradient(to bottom, #c8261d, #751410); }

.azure-foreground {
  background-image: linear-gradient(to bottom, #eafffe, #649392);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.skyblue-foreground {
  background-image: linear-gradient(to bottom, #6ed8f5, #655bf1);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.navy-foreground {
  background-image: linear-gradient(to bottom, #0e4b7f, #140b4a);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.aquamarine-foreground {
  background-image: linear-gradient(to bottom, #70faaa, #51b599);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.malachite-foreground {
  background-image: linear-gradient(to bottom, #25f947, #31ac44);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.pink-foreground {
  background-image: linear-gradient(to bottom, #ff9f9f, #bc3364);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.gray-foreground {
  background-image: linear-gradient(to bottom, #939293, #382b36);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.yellow-foreground {
  background-image: linear-gradient(to bottom, #f6ea6a, #e1b533);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.lime-foreground {
  background-image: linear-gradient(to bottom, #e6fa9e, #9fe674);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.purple-foreground {
  background-image: linear-gradient(to bottom, #8e14eb, #401586);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.lilac-foreground {
  background-image: linear-gradient(to bottom, #b655ae, #994dc5);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.maroon-foreground {
  background-image: linear-gradient(to bottom, #c8261d, #751410);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.text-with-stroke {
  text-shadow: -1px -1px 0 black, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.user-page {
  grid-column: 1/-1; }

.message-displayer {
  background-color: gray;
  width: 100rem;
  height: 50rem;
  margin: 20rem auto;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  border: 5px double black; }
  .message-displayer__top {
    background-color: #676767;
    height: 13%; }
  .message-displayer__main-content {
    display: flex;
    align-items: center; }
  .message-displayer__text-content {
    text-align: start;
    width: 50rem;
    margin-left: 5rem; }
  .message-displayer__svg {
    background-color: #8ed8cd;
    width: 20rem;
    height: 20rem;
    margin-left: 5rem; }
  .message-displayer__bottom {
    background-color: #9a9a9a;
    margin-top: auto;
    display: flex;
    justify-content: end;
    height: 20%; }
