.cardset-page {
	grid-column: 1/-1;
	grid-row: 2;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 2fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-items: stretch;
	align-items: stretch;
	background-color: $color-neutral-100;

	& .card-collection {
		grid-row: 1/4;
		grid-column: 2;

		&__heading {
		}

		&__counter {
		}
	}

	& .card-list {
		grid-row: 2/4;
		grid-column: 3;
		justify-self: center;
		width: 80%;
	}
	&__toggle-wrapper {
		grid-row: 1;
		grid-column: 3;
	}
}
