.create-edit-page {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 2fr 2fr;



	// &__card-editor-item {
	// 	position: relative;
	// 	z-index: 1;
	// }

	// &__delete-btn {
	// 	position: absolute;
	// 	z-index: 99;
	// 	background-color: aqua;
	// 	color: red;
	// }

}