.create-edit-page {
	grid-column: 1/-1;
	grid-row: 2;
	grid-template-columns: 10rem 1fr 2.5fr 0.5fr;
	grid-template-rows: repeat(8, 10vh);
	display: grid;
	// & > * {
	// 	background-color: $color-neutral-200;
	// }

	&__card-editor {
		grid-row: 2/9;
		grid-column: 3/4;
		justify-self: center;
		width: 90%;
	}
	& .card-editor-card {
		background-image: $color-gradient-black;

		box-shadow: 0.4rem 0.4rem 1rem 0.5rem rgba(0, 0, 0, 0.5);

		&__center {
			background-color: lighten($color-black-light, 3%);
		}
		&__text-input {
			background-color: $color-white-1;
		}
	}

	///////// CAROUSEL
	///

	.slick-slide {
		// max-height: 50rem;
		// background-color: $color-neutral-200;
		& > * .card {
			// transform: scale(0.4);
		}
	}

	// .card-editor__item {
	// 	max-height: 30rem;
	// 	& .card {
	// 		transform: scale(0.2);
	// 	}
	// }
	// .create-edit-page
	// 	div.carousel.create-edit-page__carousel
	// 	div.slick-slider.slick-initialized
	// 	div.slick-list
	// 	div.slick-track
	// 	div.slick-slide
	// 	div
	// 	div.carousel__slide.carousel {
	// 	max-height: 20rem;
	// }
	.slick-slide {
		//background-color: $color-primary--100;
	}

	.slick-dots {
		z-index: 100;
	}
	.slick-current h2 {
		color: $color-orange-yellow;
		// background-color: #fff;
	}
	.carousel {
		//background-color: $color-primary--300;
		// background-color: $color-primary--500;
		transform: scale(0.9); /* Adjust the scale value as needed */
	}

	& .carousel__nav-item {
		cursor: pointer;
	}
	// .create-edit-page__carousel {
	// 	grid-row: 5;
	// }
	// .carousel__slide.carousel__slide {
	// 	height: auto !important; /* The !important might be necessary to override Slick's inline styles */
	// }

	& .carousel__nav-item h2::before {
		content: '';
		display: block;
		// padding-top: 4rem;
	}
	& .carousel__nav-item h2 {
		// padding-bottom: 2rem;
	}

	& .slick-arrow {
		&::before {
			color: $color-neutral-500;
		}
	}
	& .slick-prev {
	}
	& .slick-next {
	}

	& .carousel__nav-item {
		// background-color: $color-neutral-100;

		// text-align: center;
		// margin: auto auto;
		// font-size: 3rem;
		//background-color: $color-primary--100;
		h2 {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			margin-top: 3rem;
			// height: 6rem;
			// width: 6rem;
			padding: 0em 0;
			text-align: center;

			//background-color: $color-primary--200 !important;

			position: relative;
			//background-color: $color-primary--100;
			// color: $color-orange-yellow;
			font-size: 1.8rem;
			// padding: 2%;
			// margin: 3rem 4rem;
			// margin-top: 3rem;
			// line-height: 7rem;
			// padding: 0.2rem;
		}
		span {
			font-size: 3rem;
			width: 4rem;
			height: 4rem;
			// margin: auto;
			text-align: center;
			background-color: $color-primary--100;

			//padding: 2rem 0;
		}
		//margin: 0.5rem;
	}
	& .carousel__slide {
		cursor: pointer;
	}
	&__carousel {
		// background-color: $color-primary--500;
		grid-row: 5/9;
		grid-column: 2/3;
		max-width: 55rem;
		//	background-color: $color-neutral-100;
		// max-height: 80%;
		// align-self: center;
		// justify-self: center;
		position: relative;

		& .slide {
			cursor: pointer;

			font-size: 3rem;

			// figure {
			// 	border-radius: 3px;
			// 	height: 200px;
			// 	margin: 2px;
			// 	background: #ccc;
			// 	max-width: 200px;
			// 	min-width: 150px;
			// 	display: flex;
			// 	justify-content: center;
			// 	align-items: center;

			// 	font-weight: 600;
			// 	font-size: 20px;
			// 	color: grey;
			// }
		}
	}

	// END OF CAROUSEL
	/////////////////////////////

	& .toggler__switch {
		// TODO: Change name to toggler in it's own scss class?
		grid-row: 2;
		grid-column: 4;
	}
	& .collection-selector {
		grid-row: 2;
		grid-column: 4;

		&__title {
		}
		&__selector {
		}
	}
	&__collection-selector {
		grid-column: 4;
		grid-row: 1;

		&--label {
		}
	}

	.card {
		//transform: scale(0.5);

		&__content {
			font-size: calc(1rem * 0.49);
		}
		&__side {
			height: 23rem;
			width: 15rem;
			// width: calc(35rem * 0.48);
			border-radius: calc(1.5rem * 0.49);
			box-shadow: calc(2px * 0.49) calc(3px * 0.48) calc(1rem * 0.49)
				calc(0.5rem * 0.49) rgba(0, 0, 0, 0.35);
		}
		&__heading {
			font-size: calc(3.2rem * 0.49);
		}
		&__text {
			padding: calc(2rem * 0.49);
			font-size: calc(2.4rem * 0.49);
		}
		&__top {
			padding-bottom: calc(1rem * 0.49);
		}
		&__center {
			padding: calc(1rem * 0.49);
			padding-top: calc(3rem * 0.49);
			margin-top: calc(1.5rem * 0.49);
			border-radius: calc(4.5rem * 0.49) calc(0.5rem * 0.49) calc(6.5rem * 0.49)
				calc(0.5rem * 0.49);
		}
		&__bottom {
			margin-top: calc(2rem * 0.49);
			margin-bottom: calc(0.5rem * 0.49);
		}
		&__btn-flip {
			padding: calc(1rem * 0.49) calc(2rem * 0.49);
			border-radius: calc(1.5rem * 0.49);
		}
	}

	// transform: scale(0.5);
	// &__content {
	// 	font-size: calc(1rem * 0.5);
	// }

	// &__side {
	// 	height: 31rem;
	// 	width: 20rem;
	// 	// width: calc(35rem * 0.5455);
	// 	border-radius: calc(1.5rem * 0.5);
	// 	box-shadow: calc(2px * 0.5) calc(3px * 0.5) calc(1rem * 0.5)
	// 		calc(0.5rem * 0.5) rgba(0, 0, 0, 0.35);
	// }

	// &__heading {
	// 	font-size: calc(3.2rem * 0.5);
	// }

	// &__text {
	// 	padding: calc(2rem * 0.5);
	// 	font-size: calc(2.4rem * 0.5);
	// }

	// &__top {
	// 	padding-bottom: calc(1rem * 0.5);
	// }

	// &__center {
	// 	padding: calc(1rem * 0.5);
	// 	padding-top: calc(3rem * 0.5);
	// 	margin-top: calc(1.5rem * 0.5);
	// 	border-radius: calc(4.5rem * 0.5) calc(0.5rem * 0.5) calc(6.5rem * 0.5)
	// 		calc(0.5rem * 0.5);
	// }

	// &__bottom {
	// 	margin-top: calc(2rem * 0.5);
	// 	margin-bottom: calc(0.5rem * 0.5);
	// }

	// &__btn-flip {
	// 	padding: calc(1rem * 0.5) calc(2rem * 0.5);
	// 	border-radius: calc(1.5rem * 0.5);
	// }
}

// .card {
// 	// transform: scale(0.5);
// 	// &__content {
// 	// 	font-size: calc(1rem * 0.5);
// 	// }

// 	// &__side {
// 	// 	height: 31rem;
// 	// 	width: 20rem;
// 	// 	// width: calc(35rem * 0.5455);
// 	// 	border-radius: calc(1.5rem * 0.5);
// 	// 	box-shadow: calc(2px * 0.5) calc(3px * 0.5) calc(1rem * 0.5)
// 	// 		calc(0.5rem * 0.5) rgba(0, 0, 0, 0.35);
// 	// }

// 	// &__heading {
// 	// 	font-size: calc(3.2rem * 0.5);
// 	// }

// 	// &__text {
// 	// 	padding: calc(2rem * 0.5);
// 	// 	font-size: calc(2.4rem * 0.5);
// 	// }

// 	// &__top {
// 	// 	padding-bottom: calc(1rem * 0.5);
// 	// }

// 	// &__center {
// 	// 	padding: calc(1rem * 0.5);
// 	// 	padding-top: calc(3rem * 0.5);
// 	// 	margin-top: calc(1.5rem * 0.5);
// 	// 	border-radius: calc(4.5rem * 0.5) calc(0.5rem * 0.5) calc(6.5rem * 0.5)
// 	// 		calc(0.5rem * 0.5);
// 	// }

// 	// &__bottom {
// 	// 	margin-top: calc(2rem * 0.5);
// 	// 	margin-bottom: calc(0.5rem * 0.5);
// 	// }

// 	// &__btn-flip {
// 	// 	padding: calc(1rem * 0.5) calc(2rem * 0.5);
// 	// 	border-radius: calc(1.5rem * 0.5);
// 	// }
// 	transform: scale(0.49);
// 	&__content {
// 		font-size: calc(1rem * 0.49);
// 	}
// 	&__side {
// 		height: 14.592rem;
// 		width: 9.408rem;
// 		// width: calc(35rem * 0.48);
// 		border-radius: calc(1.5rem * 0.49);
// 		box-shadow: calc(2px * 0.49) calc(3px * 0.48) calc(1rem * 0.49)
// 			calc(0.5rem * 0.49) rgba(0, 0, 0, 0.35);
// 	}
// 	&__heading {
// 		font-size: calc(3.2rem * 0.49);
// 	}
// 	&__text {
// 		padding: calc(2rem * 0.49);
// 		font-size: calc(2.4rem * 0.49);
// 	}
// 	&__top {
// 		padding-bottom: calc(1rem * 0.49);
// 	}
// 	&__center {
// 		padding: calc(1rem * 0.49);
// 		padding-top: calc(3rem * 0.49);
// 		margin-top: calc(1.5rem * 0.49);
// 		border-radius: calc(4.5rem * 0.49) calc(0.5rem * 0.49) calc(6.5rem * 0.49)
// 			calc(0.5rem * 0.49);
// 	}
// 	&__bottom {
// 		margin-top: calc(2rem * 0.49);
// 		margin-bottom: calc(0.5rem * 0.49);
// 	}
// 	&__btn-flip {
// 		padding: calc(1rem * 0.49) calc(2rem * 0.49);
// 		border-radius: calc(1.5rem * 0.49);
// 	}
// }
