.discover-page {
	grid-column: 1/-1;
	grid-row: 2;
	overflow: scroll;
	z-index: 100;

	&__top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 10vh;
		// background-image: $color-gradient-green-primary;
		// background-color: $color-primary--100;

		box-shadow: $box-shadow-subtle;
	}
	&__bottom {
		margin-inline: 5rem;
		// background-color: $color-neutral-100;
	}

	& .search__input {
		width: 30%;

		&:focus {
			width: 40%;
			border: 1px solid $color-neutral-100;
		}
	}
	// & .grid-container {
	// 	&__item {
	// 	}
	// 	& .collection-preview {
	// 		//box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.1); // Initial shadow for the card
	// 		border: unset;
	// 	}
	// }
}
