.home-page {
	grid-column: 1/-1;
	margin-top: 5rem;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	// grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	gap: 5rem;

	color: rgb(224, 224, 224);

	&__section {
		//border: 2px solid green;
		border: 1px solid rgb(241, 244, 242);
		box-shadow: 1rem 0px 2rem 2px rgba(0, 0, 0, 0.4);
	}

	&__main {
		background-color: rgb(241, 244, 242);
		color: rgb(55, 54, 54);

		// grid-column: span 2;
		box-shadow: 1rem 0px 2rem 2px rgba(0, 0, 0, 0.4);
	}
	&__aside {
		border: 1px solid rgb(241, 244, 242);
		// display: flex;
		// flex-direction: column;
		// justify-content: space-around;
		// align-items: center;
		box-shadow: -1rem 0px 2rem 2px rgba(0, 0, 0, 0.4);
		// grid-column: span 2;
		// width: 100vw;
	}

	@media (max-width: 80rem) {
		grid-template-columns: 1fr;
		&__main,
		&__aside,
		&__section {
			width: 100vw;
		}
	}

	// @media (max-width: 80rem) {
	// 	&__aside {
	// 		width: 100vw;
	// 	}
	// 	// &__main,
	// 	// &__aside,
	// 	// &__section {
	// 	// 	max-width: 100%;
	// 	// 	min-width: 100%;
	// 	// }
	// }
	// @media (max-width: 80rem) {
	// 	&__section,
	// 	&__aside {
	// 		width: 100vw;
	// 	}
	// }
}
