.collections-page {
	background-color: $color-neutral-200;
	grid-column: 1/-1;
	grid-row: 2;

	display: grid;
	// grid-template-rows: 1.6rem calc(min-content + 5rem) 3.2rem 6.4rem 1fr;
	grid-template-rows: 1.6rem auto 1.6rem 6.4rem 1fr;
	grid-template-columns: minmax(60rem, 1fr) 2.5fr;
	gap: 1rem;

	& > div {
		background-color: $color-neutral-100;
	}

	&__favorites {
		grid-column: 1/-1;
		grid-row: 2/3;
		padding: 3rem 0;
		// min-height: calc(min-content + 5rem);
	}

	&__user-collections {
		grid-column: 2/-1;
		grid-row: 4/-1;
	}

	&__public {
		grid-column: 1/2;
		grid-row: 4/-1;
		display: grid;
		grid-template-columns: 1rem 1fr 1fr 1rem;
		// grid-template-columns: 5rem 20rem 20rem 5rem;
		grid-template-rows: 7rem 7rem repeat(auto-fit, minmax(5rem, max-content));

		// Set all Collection preview childrens to be at col 2 and 3
		// & > .collection-preview:not(.collection-preview)* {
		// 	grid-column: 2/4;
		// }

		// & *:not(.collections-page__h3):not(.collections-page__search),
		// .__public *:not(.collections-page__h3) *,
		// .__public *:not(.collections-page__search) * {
		// 	grid-column: 2/4;
		// }
	}

	&__h3 {
		font-size: 2.8rem;
		&--public {
			grid-column: 2/4;
			white-space: nowrap;
		}
	}
	// Searchbars
	&__search {
		&bar {
			&--user-collections {
			}
			&--public-collections {
				grid-column: 2/4;
				grid-row: 2;
			}
		}
	}

	// CardGrids
	&__card-grid {
		&--public {
			// grid-row: 2/3;
			grid-column: 2/4;
			.grid-container {
				grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
			}
		}
	}
}
