.card-list {
	background-color: $color-primary--100;
	border: 2px solid $color-neutral-300;
	box-shadow: $box-shadow-subtle;
	color: $color-primary--700;
	//border: 7px solid $color-malachite-light;
	// border: 7px solid rgb(151, 151, 151);
	overflow: scroll;
	// height: 60vh;
	height: 85%;
	flex-basis: 30%;
	&__title {
		font-size: 3rem;
		text-align: center;
	}
	&__item {
		border: 1px solid white;
		list-style: none;
		padding: 0.5rem;
		color: $color-primary--800;
		background-color: $color-primary--100;
	}
	// grid-row: 2 / span 4; // TODO: Refactor cardset page
	// grid-column: 4; // TODO: Refactor cardset page
}

.highlight {
	background-color: $color-primary--200;
	// border: 3px solid rgb(213, 252, 251);
	font-weight: 500;
}

.card-list__item--correct {
	background-color: $color-success-100; // or any other styling
}

.card-list__item--wrong {
	background-color: $color-danger-100; // or any other styling
}
