.card-list {
	color: white;
	border: 2px solid rgb(141, 136, 136);
	overflow: scroll;
	height: 60vh;
	&__title {
		font-size: 3rem;
	}
	&__item {
		border: 1px solid white;
		list-style: none;
		padding: 0.5rem;
		color: black;
		background-color: rgb(150, 151, 156);
	}
}

.highlight {
	background-color: rgb(232, 250, 250);
	border: 3px solid rgb(213, 252, 251);
	font-weight: 500;
}

.card-list__item--correct {
	background-color: rgb(161, 244, 161); // or any other styling
}

.card-list__item--wrong {
	background-color: rgb(244, 139, 139); // or any other styling
}
