.button-next {
	padding: 1rem 3rem;
	border-radius: 0.8rem;
	cursor: pointer;
	width: 12rem;
	height: 4rem;
	text-transform: uppercase;
	color: $color-neutral-100;
	transition: all 0.3s ease-out;

	font-weight: 800;
	&--wrong {
		background-color: $color-danger-500;
		border: 2px solid rgb(179, 61, 71);
		// background-image: $color-gradient-maroon;
		margin-right: 6rem;

		&:hover {
			background-color: $color-danger-300;
		}
	}
	&--correct {
		background-color: $color-success-500;
		border: 2px solid rgb(80, 185, 80);
		// background-image: $color-gradient-malachite;
		&:hover {
			background-color: $color-success-300;
		}
	}
}

.card-collection {
	color: $color-primary--100;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__counter {
		color: $color-neutral-500;
		// margin: 0.5rem 0;
		font-size: 2.4rem;
		margin-bottom: 1.5rem;
	}
	&__heading {
		//border-bottom: 8px solid $color-malachite-light;
		// width: 100%;
		color: $color-primary--700;
		// margin-top: -12rem;
		// margin-bottom: 2rem;
	}
	&__heading--title {
		// width: 100%;
		text-align: center;
		text-transform: uppercase;
		// border-bottom: 8px solid $color-malachite-light;
		// margin-top: -7rem;
		// margin-bottom: 2rem;
		font-size: 4.2rem;
	}
	&__buttons {
		margin-top: 2rem;
	}
	// grid-column: 2/4; // TODO: Refactor Cardset page
	// grid-row: 3/5; // TODO: Refactor Cardset page
}
