.button-next {
	&--wrong {
		background-color: rgb(179, 61, 71);
		// background-image: $color-gradient-maroon;
		margin-right: 6rem;
		// margin-bottom: 6rem;
	}
	&--correct {
		background-color: rgb(80, 185, 80);
		// background-image: $color-gradient-malachite;
	}
}

.card-collection {
	// background-color: $color-gray-light;
	color: rgb(242, 242, 242);
	display: flex;
	flex-direction: column;
	align-items: center;
	&__counter {
		color: white;
		margin: 1.5rem 0;
	}
}
