.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(48rem, 1fr));
	//justify-items: center;
	overflow: scroll;
	padding: 4rem 0rem;
	// background-color: rgba(250, 250, 250, 0.209);
	//
	gap: 4rem 2rem;

	&__item {
		cursor: pointer;
		// position: relative;
		// padding-bottom: 100%; /* for 1:1 ratio */
		// overflow: hidden;

		// & > * {
		// 	/* assuming you have a direct child element inside the grid item */
		// 	position: absolute;
		// 	--we
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// }
	}
}
