.card-list {
	color: white;
	border: 2px solid rgb(141, 136, 136);
	overflow: scroll;
	height: 60vh;
	&__title {
		font-size: 3rem;
	}
	&__item {
		border: 1px solid white;
		list-style: none;
		padding: 0.5rem;
		color: black;
		background-color: rgb(150, 151, 156);
	}
}

.highlight {
	background-color: rgb(175, 255, 252);
	border: 3px solid rgb(124, 245, 241);
	font-weight: 500;
}
