.card {
	perspective: 100rem;
	-moz-perspective: 100rem;
	position: relative;

	&.animate-render {
		&-draw {
			animation: moveInBottomLeft 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
		}
		&-fade-in {
			animation: draw-fade-in 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
		}
	}
	&.animate-out {
		// animation: dropCard 400ms cubic-bezier(0.35, 0.05, 0.36, 1) forwards;
		// animation: throwCard 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
		// animation: discardCard 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
	}
	&.animate-correct {
		//animation: correctAnswer 0.5s forwards;
		animation: subtleCorrectAnswer 0.5s forwards,
			discardCardRight 0.8s 0.5s forwards;
	}
	&.animate-wrong {
		//animation: wrongAnswer 0.5s forwards;
		animation: wrongAnswer 0.5s forwards, discardCardLeft 0.8s 0.5s forwards;
	}

	&__content {
		transform-style: preserve-3d;
		// animation: moveInBottomLeft 0.8s cubic-bezier(0.72, 0.26, 0, 1.04);

		//animation: moveInBottomLeft 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
		// animation: correctAnswer 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
		// animation: livelyCorrectAnswer 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)forwards;
		// animation: subduedCorrectCard 1s ease-in-out forwards;
	}
	// CARD SIDES
	&__side {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		text-align: center;

		height: 55rem;
		width: 35rem;
		border-radius: 1.5rem;

		overflow: hidden;
		//box-shadow: 2px 3px 1rem 0.5rem rgba(0, 0, 0, 0.35);
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); // Initial shadow for the card
		backface-visibility: hidden;

		// transition: all 0.6s cubic-bezier(1, -0.3, 0.1, 1);
		transition: transform 0.6s cubic-bezier(1, -0.3, 0.1, 1),
			box-shadow 0.3s ease-in-out;

		&:hover {
			box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.22); // Increased and lightened shadow for a pronounced lift
		}

		// FRONT
		&--front {
		}
		// BACK
		&--back {
			transform: rotateY(180deg);
			position: fixed;
			top: 0;
			left: 0;
		}

		// COLOR VARIATIONS
		&.azure {
			background-image: $color-gradient-azure;
		}
		&.skyblue {
			background-image: $color-gradient-skyblue;
		}
		&.navy {
			background-image: $color-gradient-navy;
		}
		&.aquamarine {
			background-image: $color-gradient-aqumarine;
		}
		&.malachite {
			background-image: $color-gradient-malachite;
		}
		&.pink {
			background-image: $color-gradient-pink;
		}
		&.gray {
			background-image: $color-gradient-gray;
		}
		&.yellow {
			background-image: $color-gradient-yellow;
		}
		&.lime {
			background-image: $color-gradient-lime;
		}
		&.purple {
			background-image: $color-gradient-purple;
		}
		&.lilac {
			background-image: $color-gradient-lilac;
		}
		&.maroon {
			background-image: $color-gradient-maroon;
		}
	}

	// FLIP ANIMATION
	&.is-flipped .card__side--front {
		transform: rotateY(-180deg);
		// animation: flipFront 0.6s cubic-bezier(1, -0.3, 0.1, 1) forwards;

		// box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.3); // Receding shadow for the front
		// box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.2); // Deeper shadow during the flipping action
	}

	&.is-flipped .card__side--back {
		transform: rotateY(0);
		//  animation: flipBack 0.6s cubic-bezier(1, -0.3, 0.1, 1) backwards;
		// box-shadow: 5px -5px 20px rgba(0, 0, 0, 0.3); // Advancing shadow for the back
	}

	// TEXT
	&__heading {
		font-size: 3.2rem;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
	}

	&__text {
		padding: 2rem;
		font-size: 2.4rem;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
	}
	// TOP
	&__top {
		border-bottom: 2px solid #000;
		padding: 0.5rem 0;
		padding-bottom: 1rem;
	}
	// CENTER
	&__center {
		padding: 1rem;
		padding-top: 3rem;
		margin-top: 1.5rem;
		align-self: center;
		background-color: rgba(#fff, 0.2);

		width: 80%;
		height: 75%;
		border-radius: 4.5rem 0.5rem 6.5rem 0.5rem;
	}
	// BOTTOM
	&__bottom {
		padding: 1rem;
		margin-top: 2rem;
		margin-bottom: 0.5rem;
		border-top: 2px solid #000;
	}

	&__btn-flip {
		background-color: rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(0, 0, 0, 0.2);
		padding: 1rem 2rem;
		border-radius: 1.5rem;
		cursor: pointer;
		&:hover {
			background-color: rgba(255, 255, 255, 0.25);
		}
	}
}
