.collection-selector {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: end;

	// padding: 0 5rem;
	// display: grid;
	// grid-template-columns: 1fr;
	// grid-template-rows: 1fr 10fr 1fr;
	// gap: 1rem;
	// border: 1px solid $color-malachite-dark;
	// grid-column-start: 1;
	// grid-column-end: 2;

	&__title {
		text-transform: uppercase;
		text-align: center;
		flex-basis: 75%;
		letter-spacing: 0.4rem;
		font-size: 5rem;
		align-self: center;
	}

	.collection-selector__selector {
		background-color: rgb(235, 235, 235);
		box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.4);
		border: 2px solid green;
		padding: 1rem 3rem;
		// margin: 0.5rem;
		margin: 1rem;
		border-radius: 2px;
		color: black;
		font-weight: 500;
		font-size: 1.8rem;
		text-transform: capitalize;
	}

	.collection-selector__option {
		cursor: pointer;
	}

	.collection-selector__buttons {
		display: flex;
		justify-content: center;
	}

	.collection-selector__btn {
		border: 2px solid green;
		background-color: rgba(105, 235, 105, 0.2);
		padding: 1rem;
		border-radius: 2px;
		box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.4);
	}
}
