.collection-preview {
	cursor: pointer;
	transition: all 0.3s ease-out;
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 1.5fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr;

	&__card-box {
		background-color: $color-neutral-100;
		border: 1px solid $color-neutral-200;
		// grid-row: 2/5;
		// grid-column: 1/4;
		z-index: 99;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 7rem 1fr;
		// gap: 3rem;
		text-align: center;
		box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.2);
	}
	&__card-box-count {
		//background-color: rgb(255, 255, 0);
		font-size: 6rem;
		grid-column: 1;
		grid-row: 1;
	}
	&__card-box-text {
		font-size: 1.6rem;
		font-weight: 800;
		letter-spacing: 0.3rem;
		text-transform: uppercase;
		grid-column: 1;
		grid-row: 2;
	}

	&:hover {
		// background-color: rgba(255, 255, 255, 0.9);
		transform: scale(1.05);
		// border: 0.3rem solid white;
		// box-shadow: 0.2rem 2px 1rem 0.5rem rgba(161, 161, 161, 0.902);
		//box-shadow: 0.2rem 1rem 2rem 0.3rem rgba(255, 255, 255, 0.1);
	}
	&:hover &__title {
		// border: 0.5rem solid rgb(248, 251, 248);
	}

	&__content {
		// grid-row: 1/-1;
		// grid-column: 2/-1;
		box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.1);
		border: 1px solid $color-neutral-300;
	}

	&__title {
		// grid-row: 2/4;
		// grid-column: 5/10;
		font-size: 2rem;
		font-weight: 1000;
		color: $color-neutral-100;

		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&__description {
		margin-top: 0.5rem;
		// grid-row: 4/-1;
		// grid-column: 5/10;
		color: $color-neutral-100;
		border-top: 1px solid $color-neutral-200;
	}

	&--discover-page {
		// height: 20rem;

		// width: 48rem;

		.collection-preview__card-box {
			grid-row: 2/4;
			grid-column: 1/4;
		}

		.collection-preview__content {
			grid-row: 1/-1;
			grid-column: 2/-1;
		}

		.collection-preview__title {
			grid-row: 2/3;
			grid-column: 5/9;
		}

		.collection-preview__description {
			grid-row: 3/-1;
			grid-column: 5/9;
		}
	}

	&--public-collections {
		// height: 13rem;
		// width: 26rem;

		.collection-preview {
			grid-column: 2/4;

			display: grid;
			grid-template-columns: 1fr 1.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
		}
		.collection-preview__card-box {
			grid-row: 2/5;
			grid-column: 1/4;
		}
		.collection-preview__content {
			background-color: rgb(208, 147, 179);
			grid-row: 1/-1;
			grid-column: 2/-1;
		}

		.collection-preview__title {
			grid-row: 2/3;
			grid-column: 5/10;
		}

		.collection-preview__description {
			grid-row: 3/-1;
			grid-column: 5/10;
		}

		.collection-preview__title {
			font-size: 1.6rem;
			font-weight: 1000;
			color: $color-neutral-100;

			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		.collection-preview__description {
			margin-top: 0.5rem;
			font-size: 1.4rem;
			color: $color-neutral-100;
			border-top: 1px solid $color-neutral-200;
		}

		.collection-preview__card-box {
			display: grid;
			grid-template-rows: 4rem 0.5rem;
		}
		.collection-preview__card-box-count {
			//background-color: rgb(255, 255, 0);
			font-size: 3.5rem;
			grid-column: 1;
			grid-row: 1;
		}
		.collection-preview__card-box-text {
			font-size: 1.6rem;
			font-weight: 800;
			letter-spacing: 0rem;
			text-transform: uppercase;
			grid-column: 1;
			grid-row: 3;
		}
	}
	&__avatar {
		grid-row: 4;
		grid-column: 5/10;
		font-size: 2.2rem;
		font-weight: 1000;
		color: $color-neutral-100;
		//border-bottom: 1px solid $color-neutral-100;
		display: flex;
		align-items: top;
	}
}
