.footer {
	color: $color-neutral-100;
	background-image: linear-gradient(to top, #110d10, #2a2729);
	grid-column: 1/-1;
	grid-row: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.footer-list {
	display: flex;
	justify-content: space-around;
	align-items: center;

	&__item {
	}
}
