// NAVBAR FLEXBOX
.navbar {
	grid-column: 1/-1;
	grid-row: 1;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
	box-shadow: $box-shadow-subtle;

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		&-link {
			color: $color-neutral-500;
			font-size: 1.8rem;
			font-weight: 400;
		}

		&:hover {
			background-color: $color-neutral-500;
			& .navbar__item-link {
				color: $color-neutral-100;
			}
		}
		&--0 {
			grid-column: 1;
		}
		&--1 {
			grid-column: 2;
		}
		&--2 {
			grid-column: 3;
		}
		&--3 {
			grid-column: 4;
		}
		&--4 {
			grid-column: 5;
		}
		&--5 {
			grid-column: 6;
		}
	}
}

.header-logo-text--main {
	font-family: 'Inter', sans-serif;
	font-size: 4.4rem;
	font-weight: 700;
	color: $color-neutral-900;
}
.header-logo-text--sub {
	font-size: 4.4rem;
	font-family: 'Inter', sans-serif;

	color: $color-neutral-900;
}
