.search {
	display: flex; // set to flex for aligning child components
	align-items: center; // center
	justify-content: center; // center
	// margin-top: 5rem;
	// margin-right: auto;
	&__input {
		font-family: inherit; // Since input types doesnt inherit font properties, explicitly set them to inherit
		font-size: inherit;
		color: inherit;
		background-color: $color-gray-light-1;
		border: none;
		padding: 0.7rem 2rem;
		border-radius: 100px;
		width: 40%; // Set to 40 % width of available space to allow searchbar to grow on focus
		// margin-right: -3.5rem;
		transition: all 0.2s;

		@include responsive(tab-port) {
			width: 70%;
			margin-bottom: 2rem;
		}
		@include responsive(phone) {
			width: 70%;
		}

		&:focus {
			outline: none;
			width: 50%; // grow from 30 to 50% on focus
			background-color: $color-gray-light-1;
		}

		&::placeholder {
			font-weight: 100;

			color: $color-gray-dark-1;
		}
	}

	// When input is focused, select the sibling component button and give it same bck-clr as input
	&__input:focus + &__button {
		background-color: $color-gray-light-1;
	}

	&__button {
		border: none;
		background-color: $color-gray-light-1;

		&:focus {
			outline: none;
		}
		&:active {
			transform: translateY(2px);
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;
		fill: $color-gray-dark-1; // Change Color of SVG
	}
}
